[2018-02-06 21:18] dshafik commented on #6
Documentation is available here:

- [Behaviors](https://developer.akamai.com/api/luna/papi/behaviors.html)
- [Criteria](https://developer.akamai.com/api/luna/papi/criteria.html)

[2018-02-07 19:41] dcherniv commented on #5
Some additional information on the error.
The actual error is in getCpCode function call in
[code]
It seems papi golang library is out of sync with the api.
As per: https://developer.akamai.com/api/luna/papi/resources.html#getcpcode groupId is required.
However in
[code]
Neither groupID nor contractID is included in the api call.
Please fix.

[2018-02-07 20:28] dshafik commented on #5
@jguo13 @dcherniv this should be fixed now, thanks!

[2018-02-08 16:11] dcherniv commented on #7
@dshafik
Some more information. The property was created through luna control center then terraform imported, pretty much followed the example in the akamai devops handbook.
I noticed that there is a custom override in the luna control center.
![image](https://user-images.githubusercontent.com/19437418/35983657-77bdab7c-0cc0-11e8-8748-284882fd3ae0.png)
When i delete that custom override in luna, a

[2018-02-08 16:14] dcherniv commented on #6
Awesome. Please close the issue.
Maybe updated readme.md?

[2018-02-08 19:47] dshafik commented on #8
I plan to add support for a `rules_file` field in `akamai_property` that will use that as the base of the rules rather than what the API has — then anything inside the `rules { }` block would overlay on top of that, to make migrating properties easier.

Is this what you have in mind?

[2018-02-08 20:03] dcherniv commented on #8
Yes, exactly.

If i may suggest another thing, rules might be their own akamai resource that are referred to in akamai_property resource by id or self_link (whatever the terminology in akamai)

Something like this:
[code]
It makes it a lot easier to read the code.

[2018-02-08 20:20] jguo13 commented on #9
@dcherniv no this is a valid issue in the documentation it says

Clone repository to: `$GOPATH/src/github.com/terraform-providers/terraform-provider-akamai
[code]

but that git repository does not exist it should be https://github.com/akamai/terraform-provider-akamai.git or git@github.com:akamai/terraform-provider-akamai.git

[2018-02-08 20:21] dshafik commented on #9
@dcherniv @jguo13 once Hashicorp has finished reviewing the provider, we will be transferring it to that location as an official provider, hence the forward-thinking URL.

[2018-02-08 21:09] dcherniv commented on #9
Makes sense. What about go get issue?
[code]

[2018-02-08 21:32] dshafik commented on #9
@dcherniv Ah, you must have the Terraform sources available on the system, so: `go get github.com/hashicorp/terraform` should resolve this.

[2018-02-08 21:55] dcherniv commented on #7
Hack around the issue attached.
[code]

[2018-02-08 21:59] dshafik commented on #7
@dcherniv that will work if you're not using `customOverride`'s, I will have a proper fix for this over the next couple of days

[2018-02-08 22:00] dcherniv commented on #9
The below will probably be preferred since it eliminates manual steps
[code]

[2018-02-09 09:43] partamonov commented on #10
And may be it will be better to move CP Code creation from property to separate resource and then just use it, will be much better if I want to create 2 properties with same CP Code.

[2018-02-09 10:00] partamonov commented on #7
For me creation of property fails with panic

terraform version: `0.11.3`

Configuration
[code]

[code]

[2018-02-09 16:04] dcherniv commented on #10
@partamonov
I was able to reuse an existing CP code (created through luna) with terraform.
But definitely +1 for akamai_cpcode resource.

[2018-02-09 16:34] partamonov commented on #10
@dcherniv I mean, if I will try to create property, based on code I saw I can skip cpcode option, as create func has `create CP code` but in resource schema, cp_code is mandatory parameter.

We have two ways to my mind:
1. make cp_code optional and create it during property creation
2. keep cp_code mandatory, but move cp code creation functionality to resource `cp_code`

[2018-02-09 17:15] dcherniv commented on #10
@partamonov Not sure i follow.
The behaviour that i observed was as follows:
[code]
In my case cp_code 669473 already existed in luna. So terraform didn't create it.
If i specify lets say 669474, then terraform creates that cp_code and assigns it to the property.
But something in the creation of cpcode is definitely buggy.
[code]
The above does create a cp_code but it doesn't assign 669474 as cp_c

[2018-02-09 17:33] partamonov commented on #10
I will check cp_code creation via API calls and we will see that it returns, but based on doc it returns location, from which ID can be extracted. Question if we will be able to create property with just created cp code. I will try that.

[2018-02-09 18:44] dshafik commented on #10
This is correct behavior — if the opcode is numeric, or starts with `cpc_`, we assume it's a CPCode ID and look it up via that. If it's not an ID, or isn't found, we treat it as the name, and iterate over all the CPCodes the group/contract has access to.

If that is unsuccessful, a new CPCode with that _name_ is created, and automatically assigned to the property. Typically this would be for new p

[2018-02-09 18:45] dshafik commented on #11
@shamoons Are you using Terraform 0.11.x?

[2018-02-09 18:48] shamoons commented on #11
@dshafik yes.... v0.11.2

[2018-02-09 19:26] dshafik commented on #11
@shamoons can you share an anonymized config file?

[2018-02-09 19:29] shamoons commented on #11
[code]

[2018-02-12 15:51] jguo13 commented on #11
#9 Yea i think this is referenced in issue #9 but basically you have to build the binaries from a git clone of the repository:
https://github.com/akamai/terraform-provider-akamai.git or git@github.com:akamai/terraform-provider-akamai.git    NOT of the repo linked in the readme because akamai hasn't been accepted into the official terraform repo yet
also don't use the comcast repo i think that is a

[2018-02-14 09:51] dshafik commented on #12
Hi @partamonov, `product_id` isn't mandatory because it is readonly on existing properties, so make it required is not ideal.

However, we should definitely have a check, similar to `group_id`/`contract_id` when creating a new property that verifies a `product_id` is set and error gracefully rather than panic.

[2018-02-15 15:31] shamoons commented on #11
I built the binary from this repo. Here is my file:

[code]

The error is still:
[code]

[2018-02-19 15:31] dcherniv opened #14 "Feature request: support for secure origins"
It's not entirely clear whether secure origins are supported.
We have:
[code]
How does one specify an SSL certificate?

[2018-02-26 23:58] dshafik commented on #14
@dcherniv secure property support is our top priority at the moment; we are working closely with our Certificate Provisioning Service (CPS) team to bring this to Terraform

[2018-02-27 18:11] dshafik commented on #11
I believe this is a conflict between the Comcast (GTM) provider and ours. Please remove all `terraform-provider-akamai` binaries from your path and `make` within this repository again.

[2018-02-27 18:13] dshafik commented on #10
As this is working as expected, I'm going to close this and create a new ticket to discuss and decide on adding a new `akamai_cpcode` resource.

[2018-02-27 18:38] dshafik opened #15 "Add explicit akamai_cpcode resource"
In #10 it was suggested we add a new `akamai_cpcode` resource. I'd like to use this ticket to discuss and explore this idea.

## Config

[code]

You could then reference the CPCode resource wherever needed:

[code]

## Behavior

If no `id` is specified, then a lookup is done for a CPCode with `name`, and if none is found, a new CPCode is created using the `name` and `product_id`. When creating a C

[2018-02-27 18:39] dshafik commented on #10
@partamonov @dcherniv I've created #15 to discuss this

[2018-02-27 19:14] dshafik commented on #7
@partamonov can you try with this latest version?

[2018-02-28 22:57] cgriggs01 opened #16 "Terraform Initial Review"
Hello Akamai Team,

My name is Chris Griggs, I am a Partner Solutions Engineer here a HashiCorp and will be your main point of contact as we review and release your provider.

To Start, it appears that your provider does not have any website documentation. You will need to write documentation for your provider and each of its resources.

Additionally, HashiCorp runs nightly acceptance tests on eac

[2018-02-28 23:07] dshafik commented on #16
@cgriggs01 we previously submitted the credentials to Clint a while back (almost a year to the day), and he likely would be the only person with easy access to the account at this point.

I'll get started on documentation this week.

[2018-03-01 21:06] cgriggs01 commented on #16
Thanks @dshafik, got the creds!

[2018-03-08 19:43] sherodtaylor commented on #16
Is there an ETA on the official release of this? We are thinking about using this but not sure whether to wait :)

[2018-03-13 07:47] yasuharu519 opened #17 "`active` option for FastDNS does not work"
### Terraform Version
`v0.11.3`

### Affected Resource(s)
- `akamai_fastdns_zone`

### Terraform Configuration Files
[code]

### behavior

After I created through `akamai_fastdns_zone` resource, `active` option does not work if I changed the state to `false` from `true`

[2018-03-13 08:31] dshafik commented on #17
@yasuharu519 to clarify, you created the record without an active flag or explicitly set to `false`? And then you set it to `true` and the change did not get applied when you running `terraform apply`?

[2018-03-14 01:02] yasuharu519 commented on #17
@dshafik
Let me make it clear it. Since active flag is required, so I did not skip
it. Actually, I run `terraform apply` with active flag as `true` first.

To reproduce,

- Create DNS record with active flag as `true`
- Run `terraform apply` (This will make new dns record)
- Change the flag as `false`
- Run `terraform apply` again (And active flag does not change on web
console)

2018-03-13 17:31

[2018-03-14 01:03] yasuharu519 commented on #17
@dshafik
Let me make it clear it. Since active flag is required, so I did not skip
it. Actually, I run `terraform apply` with active flag as `true` first.

To reproduce,

- Create DNS record with active flag as `true`
- Run `terraform apply` (This will make new dns record)
- Change the flag as `false`
- Run `terraform apply` again (And active flag does not change on web
console)

[2018-03-14 17:06] cgriggs01 commented on #16
@dshafik How is the documentation going., do you have an ETA on the completion of the docs?

@sherodtaylor This provider should be released in the next few months, once the documentation is complete HashiCorp will start reviewing the provider.

[2018-03-23 05:53] dshafik commented on #19
@Rajesh804 the issue here is that your `.edgerc` uses a `[default]` section, while the TF config has `dns_section = "dns"` and `papi_section = "papi"`. You will need to either add `dns` and `papi` sections, **or** change the config to point both to `default`.

[2018-03-23 06:04] dshafik commented on #11
@shamoons can you confirm if this resolved your issue?

[2018-03-23 19:39] hmh-ccc-service commented on #8
A good example is AWS security groups where you can define ingress/egress rules in your group configuration or use an [aws_security_group_rule](https://www.terraform.io/docs/providers/aws/r/security_group_rule.html) to define them outside of the group configuration.

I think it would be helpful if I could define my Akamai rules outside of a main property configuration and then have the rules linke

[2018-03-23 19:39] jdeprin commented on #8
A good example is AWS security groups where you can define ingress/egress rules in your group configuration or use an [aws_security_group_rule](https://www.terraform.io/docs/providers/aws/r/security_group_rule.html) to define them outside of the group configuration.

I think it would be helpful if I could define my Akamai rules outside of a main property configuration and then have the rules linke

[2018-03-27 21:44] ninnemannk commented on #16
Documentation would be fantastic.

[2018-03-27 23:28] ninnemannk opened #20 "Error setting forward hostname"
I'm getting an error trying to use a variation of the [example terraform here](https://github.com/akamai/terraform-provider-akamai/blob/master/examples/akamai_property/create-property/create-property.tf).

The error gives no details other than it happens right after the log message `Setting non-custom forward hostname`.

**Terraform:**

[code]

**Error:**

[code]

[2018-03-28 16:16] ninnemannk commented on #20
Also to note - I tried simply using the example terraform and got errors there too.

[2018-03-30 17:40] karlgrz commented on #18
I was able to resolve this after reading @dshafik response to #19 about the .edgerc section names. I also had [default] in mine. Changing my akamai provider config to this resolved my problem:

[code]

FWIW, that is not clear at all from the docs.

[2018-04-18 20:46] hundt opened #21 "Deleting all FastDNS resources of a given record type does not work"
If you remove all sections for a given record type (e.g., TXT) from your terraform file then Terraform correctly shows the diff but, instead of actually deleting all the TXT records that were previously created, the plugin does nothing.

I believe this is because of [this line](https://github.com/akamai/terraform-provider-akamai/blob/aa1a52d8dfae904ba6e5c367f934fe69a11207a7/akamai/resource_akamai_

[2018-04-30 16:04] dshafik commented on #21
@hundt thanks for your patience. This is definitely a bug — we should be comparing against the old state, rather than just relying on the presence of configuration for determining changes to make.

Also, just FYI, `Get` returns a single value, which may be the zero/default value for the configuration key. `GetOk` returns a second  `bool` value that indicates the presence of key in the configuratio

[2018-05-01 12:57] jeohist opened #27 "Instructions for building the provider no longer works"
### Expected Behavior
Provider should build.

### Actual Behavior
It doesn't.

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
$ mkdir -p $GOPATH/src/github.com/terraform-providers; cd $GOPATH/src/github.com/terraform-providers
$ git clone git@github.com:terraform-providers/terraform-provider-akamai
Doesn't work as the repository no longer exists. So we t

[2018-05-01 13:36] hundt commented on #21
@dshafik Cool, thanks for the response! I didn't see any reason why the key being present or not would determine whether to make the update, so in my fork I just removed all those checks:

https://github.com/hundt/terraform-provider-akamai/commit/362432e0683f87413cc750406f94ccb5f3f47fb3

[2018-05-01 13:36] hundt commented on #21
@dshafik I can convert that commit into a pull request if you think the approach is good.

[2018-05-01 13:43] hundt opened #28 "Removing a zone from config deletes pre-existing records"
When adding or removing records, pre-existing records are left alone. But when removing the entire zone from a config, most pre-existing records are deleted (everything but SOA I think).

To me this seems like a bug, because I think deleting a resource should be the inverse of adding a resource. When it is not, you get situations like the following:

1. example.com. zone has pre-existing records (

[2018-05-15 23:09] dshafik commented on #31
@PrabhatRath "import" in Terraform terms is for importing the existing _state_, not a configuration. This means that if you import, and then apply, it uses the imported state as the starting point for making changes, rather than no state, and applies whatever is in the configuration file.

It does not modify or update the configuration file, and in fact you must add the resource configuration to b

[2018-05-15 23:12] dshafik commented on #28
I agree with you that this is the correct approach (definitely the "least surprise"). Please do create a PR and we can review and get it merged!

Thanks for your contribution!

[2018-05-16 12:50] PrabhatRath commented on #31
thank you. i will get back if the customer has more queries.

[2018-05-17 20:35] hundt opened #34 "Schema no longer matches FastDNS API"
The API was recently [changed](https://github.com/akamai/AkamaiOPEN-edgegrid-golang/commit/a0e3050b742a41030529586e793a13cf2abbc248) to use uints for some fields. This results in a crash whenever `mergeConfigs` in `resource_akamai_fast_dns_zone.go` tries to convert existing records for merging with new records.

To see this in action, create an SRV record in a zone and then add a second SRV record

[2018-05-17 20:57] hundt commented on #34
If you use a custom hashing function then you can avoid the crash, but then some fields will fail to update when SrvRecord.SetField fails to [cast them](https://github.com/akamai/AkamaiOPEN-edgegrid-golang/blob/master/configdns-v1/record.go#L1554) to the proper types.

[2018-05-29 18:10] lukaszczerpak commented on #19
In the above example there is indeed a mismatch between section defined in the `.edgerc` file and used in the TF config.
However I noticed that if there is no `[default]` section in the `.edgerc` or section contains uppercase characters, then the same error is thrown.

[2018-06-21 18:04] dshafik commented on #16
@cgriggs01 why was this closed? What is the status of reviewing the provider?

[2018-06-21 18:15] cgriggs01 commented on #16
Hi @dshafik,

Sorry, I sent you an email last week, but should have reach out though this.

Whats the reasoning for implementing the `property` resource in eight different files for each method, was this for organizational purposes or did you have another reason?

I will reopen this issue now.

Thanks
Chris

[2018-07-12 19:13] jrm16020 opened #45 "Feature Request: Support for Kona WAF"
It'd be great to use this provider for managing our use of Kona WAF via the Terraform provider.

[2018-07-26 18:40] cgriggs01 commented on #16
Hi @dshafik

Hope things are going well, I'd like to move this provider to the next phase of the program so we can officially release. I'm getting customer feedback that this provider would be useful.

The way that the `property` resource is implemented does not follow the terraform provider file format requirements. Can you move all your resource methods in one resource file?(minus the tests meth

[2018-07-27 06:48] dshafik commented on #16
@cgriggs01 this was an attempt to organize such a large of code (comparatively). It's quite hairy in there. So, in-as-much as it's just a stylistic choice, I'm fine to merge it if that's the recommendation.

[2018-07-30 19:35] dshafik commented on #16
@cgriggs01 the merge has been completed now

[2018-07-30 23:09] cgriggs01 commented on #16
@dshafik It definitely helps to make the property resource much more organized, but it is a requirement so that all official Terraform providers follow the structure for continuity across providers when reviewing and attempting to debug a provider.

Thank you for making the changes.

[2018-08-01 14:18] jazzista88 opened #46 "Error: akamai_property.papi_sandbox: "account_id": this field cannot be set"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.11.7

### Affected Resource(s)
Please list the resources as a list, for example:
akamai_property

If this issue appears to affect mu

[2018-08-01 14:25] jazzista88 commented on #46
@dshafik
Ok so i need to wait the update of the example in order to update an existing property, because if i omit it then i receive an errore telling me that account_id is needed XD

[2018-08-01 14:37] dshafik commented on #46
@jazzista88 OK, that's an _actual_ bug, I'll update this description to reflect that.

[2018-08-01 14:40] jazzista88 commented on #46
I really thank you @dshafik !

[2018-08-06 12:39] dzinevich opened #48 "akamai_property rule change"
Hello,

Let's take https://github.com/akamai/terraform-provider-akamai/blob/master/examples/akamai_property/existing-property/existing-property.tf as example.
Property was created initially via akamai tf module, then if I change rule name
name = "l10n" -> 	name = "l10n-test"
will result in 2 rules created, old one will not be deleted.
Expected: rule "I10n" removed, "I10n-test" added.

Please advic

[2018-08-16 13:42] dzinevich commented on #48
I dug a bit and found that in "func resourcePropertyUpdate" you're first getting existing rules from api, and then merge with what we have in TF. in case of rule name change this results in behaviour described above.
is there any particular reason for such logic or it's limitation of alpha version ?

[2018-09-17 18:17] mb290 commented on #16
@dshafik and @cgriggs01 is this still actively being reviewed and being made "officially supported"?

[2018-09-17 18:20] dshafik commented on #16
@mb290 absolutely

[2018-10-08 11:09] wunzeco opened #49 "Unable to create akamai_property resource without rules argument (meant to be optional)"
The [docs](https://github.com/akamai/terraform-provider-akamai/blob/master/website/docs/r/property.html.markdown) says that `rules` argument is optional. However, trying to create `akamai_property` resource with no `rules` fails. I am trying to create an `akamai_property` resource from scratch. But it appears the `Default Rule` is getting in the way.

## Terraform code
- terraform.tfvars
[code]
-

[2018-10-08 16:52] PrabhatRath opened #50 "FastDNS and Terraform"
Hi @dshafik ,

Expedia has the following query. Please advise.

=======
Please advise the right approach on managing DNS records in FastDNS with Terraform.

Here is the task I'm working on. I have a YAML-file representing DNS-zones and DNS records. Assuming that the number of DNS zones and records is unknown, I need to create Terraform script which should create and delete DNS entries in FastDNS.

[2018-10-09 09:11] wunzeco commented on #49
## Some progress ;-)
After a bit of research and trial and error, I figured out that

1.  the **boolean** options take the value `"true"` or `"false"` (Note: i.e. as **string**). There is a note in terraform documentation that warns about boolean values conversion. https://www.terraform.io/docs/configuration/variables.html#booleans. Specifically, ```It is recommended for now to specify boolean val

[2018-10-09 09:33] wunzeco commented on #49
@dshafik Any advice?

[2018-10-16 11:33] PrabhatRath commented on #50
@dshafik please let me know if you got a chance to look into it

[2018-10-18 11:00] vreddhi commented on #49
This is my understanding, and i would like others to comment as well:

Every product_id has templated rules that get created when you create the corresponding property. So the errors that you are seeing is quite obvious, as the backend system validates the JSON object sent representing the rules of the property.

Regarding 'rules' object documented as optional, I think what he meant was the subseq

[2018-10-29 20:36] tfhartmann commented on #16
We are also interested in seeing this made an officially supported provider.  Thank you everyone for all the work you're doing on this provider.

[2018-12-07 19:46] derekargueta commented on #16
ping

[2018-12-07 19:47] derekargueta commented on #27
@dshafik seems like this is fixed via PR #41 ?

[2018-12-07 22:48] dshafik commented on #57
@atecce Terraform currently only support Property Manager properties, not GTM. GTM is currently unsupported (but is on our list of most-wanted features, FYI).

A GTM property would be a completely different resource however.

I'll consider this another +1 for our priority sorting.

[2018-12-07 22:59] atecce commented on #57
awesome! tyvm :D

[2018-12-08 16:58] jeohist commented on #27
@derekargueta @dshafik Yep! Thanks!

[2018-12-08 16:58] #27 closed

[2018-12-12 13:50] atecce commented on #57
fwiw i have some prototypes for a provider for gtm. i still have to talk to legal at urbn to get all those details in order but would you be interested in it if i can put it in open source?

[2018-12-24 08:36] TristanBaoui commented on #58
This is most likely related to #34 .
@dshafik , any ETA regarding a fix for this?

[2019-01-03 00:42] lmasaya commented on #9
This also installed dependencies for me. I think this way of installing dependencies and provider is shorter and clearer.

[2019-01-15 18:14] lmasaya commented on #56
Seeing same thing, but with adding a CNAME. Once we destroy, it does not just remove the created DNS record, but the whole zone.

[2019-03-05 16:44] xaosec commented on #45
Is there an update on this front? anyone having more information, please post it here.

[2019-04-30 17:14] nitrocode commented on #16
Yes, thank you for supporting terraform and akamai integration. I'm eagerly waiting official support and documentation on how to use this.

Any update on documentation?

[2019-04-30 23:36] frumkinwy commented on #56
Does this also occur with zones?   Does terraform manipulate zones that were not created with tf?

[2019-06-03 16:09] dekimsey commented on #56
I think this makes sense the way it's declared in the provider (it's a _zone_ resource), but it's implementation may be conflated. So destroying the resource should destroy the zone. The issue may be better worded as a User would like to destroy records that are being declared/managed in Terraform without affecting the zone. The current implementation (both together) doesn't allow for that.

The A

[2019-06-05 00:25] FLGale commented on #11
I found out that if you comment out the `provider "akamai"` then I am able to get it to work.

[code]

[2019-06-08 01:01] FLGale commented on #14
@dshafik What is the current eta on this top priority?  I don't need to create a cert, just use an existing SAN and specify Enhanced TLS and an `edgekey.net` url.

[2019-06-10 14:44] dshafik commented on #62
@nitrocode we have a revamped provider being released shortly, however I don't have an exact timeline for you.

[2019-06-10 18:16] FLGale commented on #62
Can you give a rough estimate, likes days, weeks, months or years?  Having some issues trying to get the current one working and waiting to hear on updates to https://github.com/akamai/terraform-provider-akamai/issues/14

[2019-06-19 13:52] jeohist commented on #62
Same here. We want to start using the Akamai Terraform provider for managing our site properties. At Akamai Edge EMEA I heard we were waiting for the release of 0.12. Other than that it's been really really quiet...

[2019-07-03 16:23] lfallet opened #5 "Feature request: import"
Do you support `terraform import` command?
It's very useful when starting with existing live config.

[2019-07-05 10:32] ElvenSpellmaker opened #6 "Error: Failed to instantiate provider "akamai" to obtain schema: Incompatible API version with plugin. Plugin version: 4, Client versions: [5]"
Hi there,

### Terraform Version
0.12.3

### Affected Resource(s)
- akamai provider itself

### Debug Output
[code]

### Expected Behavior
Plug-in should load

### Actual Behavior
Plug-in can't load

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform apply`

[2019-07-05 10:41] ElvenSpellmaker opened #7 "Provider doesn't support data source: akamai_cpcode"
Hi there,

### Terraform Version
 - 0.11.14
 - 0.12.4

### Affected Resource(s)
Please list the resources as a list, for example:
- `akamai_cpcode`

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/ElvenSpellmaker/eecea525359f9a7394f439bdabd8a237

### Expected Behavior
cp_code data source should work as shown here: https://www.terraform.io/docs/providers/akamai/d/

[2019-07-05 20:12] benjamink opened #8 "When will a new release that works with Terraform 0.12 be available?"
When will a new release of this provider be made available that works with Terraform 0.12.x?

### Terraform Version
0.12.4

### Expected Behavior
Plugin should work as normal (v0.1.0 works fine with Terraform 0.11).

### Actual Behavior
[code]

[2019-07-05 20:32] benjamink opened #9 "How to create an SOA record"
### Terraform Version
0.11.14

### Affected Resource(s)
- akamai_dns_record

### Terraform Configuration Files
[code]

[code]

### Panic Output
[code]

### Expected Behavior
I'd like to create a zone & initialize it completely with Terraform.

[2019-07-08 10:44] ElvenSpellmaker commented on #8
I already created #6 which is basically the same as yours =)

[2019-07-09 09:19] ghost opened #10 "SiteShield behavior expects object instead of string"
Hi,

I'm trying to build an Akamai property with Terraform but the "terraform apply" fails on setting up the SiteShield behavior. Is this something the Akamai provider doesn't support yet?

### Versions:
Terraform version: v0.11.14
Provider version: provider.akamai v0.1.0

### Debug Output
Terraform outputs:
{  instance type (string) does not match any allowed primitive type (allowed: ["object"])

[2019-07-12 17:58] benjamink opened #11 "Cannot create multiple types of records with the same name"
### Terraform Version
0.11.14

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_dns_record

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Ability to create an A record and an MX record with the same reco

[2019-07-15 15:53] benjamink commented on #8
This appears to be fixed in the latest 0.1.1 release.

[2019-07-15 15:53] #8 closed, assigned to nobody

[2019-07-15 15:58] ElvenSpellmaker commented on #8
Thanks, I'll close my issue too.

[2019-07-15 15:58] #6 closed, assigned to nobody

[2019-07-15 15:59] ElvenSpellmaker commented on #6
This appears to be fixed in 0.1.1

[2019-07-15 16:05] ElvenSpellmaker commented on #7
This also happens in 0.12.4.

[2019-07-17 01:45] atward opened #12 "Docs/examples don't match provider"
### Terraform Version
terraform 11 & 12

Tested against terraform-provider-akamai_v0.1.1

### Affected Resource(s)
* akamai_property
* akamai_property_activation
* akamai_property_variable
* akamai_secure_edge_hostname
* data.akamai_contract
* data.akamai_cp_codes

(probably more)

### Terraform Configuration Files
Current master examples: https://github.com/terraform-providers/terraform-provider-

[2019-07-17 01:48] atward commented on #12
Also tested against 0.1.0 in case there were recent interface changes

[code]

No change. Output matches above.

[2019-07-20 13:00] dshafik commented on #10
@wvdhengel: thanks for the heads up, a few behaviors have slightly different format to the majority (currently this one and CP Codes), I'll look into resolving this one also, shortly.

[2019-07-23 04:17] dshafik commented on #5
@lfallet we do support `terraform import` for the following resources:

- `akamai_property`
- `akamai_property_rules`
- `akamai_property_variables`
- `akamai_edge_hostname`
- `akamai_dns_zone`
- `akamai_dns_record`

We _strongly_ recommend against using it, as unless you have 100% migrated your configuration to Terraform, you will **lose** configuration data next time you `terraform apply`. Rather

[2019-07-23 04:18] dshafik commented on #7
@ElvenSpellmaker this is a typo in the documentation, it is in fact `akamai_cp_code`.

Let me know if this solves you issue, thanks!

[2019-07-23 04:23] dshafik commented on #9
@benjamink the provider should create both `SOA` and `NS` records automatically, you should not create them manually. Try without the `NS` record and let me know if that solves it. (we should then disallow creating NS records).

Thanks!

[2019-07-23 13:13] benjamink commented on #9
The zone didn't get setup at all via Terraform.  It would fail out creating any records because they depend on the zone being configured with an SOA & NS record, thus my attempt at creating them explicitly.

[2019-07-25 19:17] dshafik commented on #9
@benjamink currently our integration tests that create a zone are passing, and it works here locally, can you reach out via email so we can dig into this further? devrel@akamai.com

Thanks!

[2019-07-25 19:40] dshafik commented on #11
@benjamink can you try with Terraform 0.12?

What's happening here is not an issue with the A and MX having the same name, but rather that there is an existing identical MX. Do you know if that's possibly the case (existing data in the zone) so we can determine if the provider is doing something weird leading to that situation?

[2019-07-26 00:40] martinstibbe commented on #9
Added depends on to resources to attempt creation after zone was created
NS record behavior needs a bit further study as default set is present at zone creation (result given below)
[code]
Apply complete! Resources: 3 added, 0 changed, 0 destroyed.

[code]

[2019-07-26 15:40] bogdan-grozoiu commented on #11
I am using TF v0.12.5 and akamai provider v0.1.1.

Here is my setup:

[code]

and here is the output of `terraform apply`

[code]

Seen differently, when trying to create a payload with all 3 MX servers, such as:

[code]
restricts me from setting a priority on each.

_domain names purposely obfuscated and name servers purposely having different FQDNs and no rank-introducing numbers_

_route53 exam

[2019-07-26 19:33] ManuelDAlvarez opened #18 "IPV4 only option not working"
Terraform returns an error when creating an edge hostname with the attribute ipv6 = false. Looking at the error logs, it is because the API call uses "IPv4" instead of "IPV4". It works if I use ipv6 = true

### Terraform Version
$ terraform -v
Terraform v0.12.2
+ provider.akamai v0.1.2

### Affected Resource(s)
akamai_edge_hostname

### Terraform Configuration Files
resource "akamai_edge_hostname"

[2019-07-29 08:37] bogdan-grozoiu opened #19 "Inverted parameters when: recordtype = SRV"
Hi there,

I've found an issue when creating records of type **SRV**

### Terraform Version
- Terraform v0.12.5
- provider.akamai v0.1.1

### Affected Resource(s)
- akamai_dns_record (**SRV** record type)

### Expected Behavior
When using `recordtype = "SRV"`, the values provided for the parameters `priority`, `port`, `weight` should create a record in the following format: `<priority> <weight> <p

[2019-07-30 15:56] #19 closed, assigned to nobody

[2019-07-30 15:56] dshafik commented on #19
@grozoiu This has been fixed in #20, and will be included in the next release which I intent to make later this week.

[2019-07-31 00:21] dshafik commented on #18
This should be fixed by #21, and will be included in the next release of the provider

[2019-07-31 00:26] dshafik commented on #11
@grozoiu I agree this _should_ work. It seems that maybe priority is being ignored when it comes to determining if they are duplicates (or when creating them, causing it to be 0 for all of them?)

[2019-07-31 00:27] #18 closed, assigned to nobody

[2019-07-31 07:34] bogdan-grozoiu commented on #11
Could be. What I observed though, is that running `terraform apply` for 3 times in my case (the same number of times as the number of MX records), it crashes every time (see above), but the records are eventually saved correctly in Akamai... o.O

[2019-07-31 09:25] MarkDordoy opened #22 "Ability to Manage Users, Groups and Permissions"
Hello

I would love to see the ability to manage Identity Management via terraform. My main purpose for this would be to provision / deprovision an account, add and remove an account to a group, create/delete a group.

With this and SSO enabled it would allow me to automate my user provisioning. Its something cloudflare do and i'd love to see this provider to have feature parity

Thanks

[2019-07-31 13:25] bogdan-grozoiu opened #23 "Terraform crashing when using the v0.1.2 of the provider"
### Terraform Version
Terraform v0.12.5
Akamai Provider v0.1.2

### Affected Resource(s)
Terraform.

### Terraform Configuration Files
[code]

### Expected Behavior
Terraform using the Akamai provider v.0.1.2 to not crash and provision the DNS record

### Actual Behavior
Terraform crashed

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform init

[2019-07-31 13:39] MarkDordoy opened #24 "Invalid Resource Type: akamai_cps_enrollment"
### Terraform Version
[code]
### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_cps_enrollment

### Expected Behavior
Terraform should pass validation

### Actual Behavior
The provider provider.akamai does not support resource type
"akamai_cps_enrollment".

### Steps to Reproduce
Please list the steps required to reproduce the issue, for example:
1. `terraform init

[2019-07-31 13:42] MarkDordoy commented on #24
Copy of providers file
[code]

main.tf with my data omitted
[code]

[2019-07-31 14:02] bogdan-grozoiu opened #25 "Issue with multi-line TXT records"
### Terraform Version
Terraform v0.12.5
Akamai Provider v0.1.1

### Affected Resource(s)
- akamai_dns_record (TXT)

### Terraform Configuration Files
[code]

### Expected Behavior
Terraform using the Akamai provider to provision a TXT record with 2 lines of text, each line containing only what is between the double quotes. E.g.:
- First line : OneWord
- Second line : Two Words

### Actual Behavior

[2019-07-31 15:22] bogdan-grozoiu opened #26 "Inconsistent creation and removal of DNS records"
### Terraform Version
Terraform v0.12.5
Akamai Provider v0.1.1

### Affected Resource(s)
- akamai_dns_record

### Terraform Configuration Files
[code]

### Expected Behavior
The Akamai Provider to create all the DNS records in the DNS Zone and also to completely remove them.

### Actual Behavior
The Akamai Provider creates all the DNS records in the DNS Zone and also reports as successful their re

[2019-08-01 13:29] molodchenko opened #30 "Cannot remove rule from the property."
I noticed that it is impossible to remove rules from property with resource "akamai_property_rules".

### Terraform Version
Terraform v0.12.5
Akamai Provider v0.1.2

### Affected Resource(s)
resource "akamai_property_rules"

### Steps to Reproduce
1. I created with terraform 2 rules for property "test" and can see them in akamai ui.
[code]

2. Then i removed one rule from resource and did `terrafo

[2019-08-01 14:50] #23 closed, assigned to nobody

[2019-08-01 14:51] dshafik commented on #23
This issue has been fixed and will be included in the  next provider release

[2019-08-01 14:59] dshafik commented on #24
@MarkDordoy for a number of reasons, we decided to hold back the release of certificate management (not least of which, the fact it would extend your `terraform apply` time by an unreasonable amount). We expect to re-add this later this year.

Where did you see documentation for this?

[2019-08-01 15:30] MarkDordoy commented on #24
@dshafik I see the documentation on the main terraform site: https://www.terraform.io/docs/providers/akamai/r/cps_enrollment.html

[2019-08-01 15:45] dshafik commented on #24
@MarkDordoy that is a mistake, sorry about that! I'm in the process of updating all the documentation to ensure accuracy today, so that will go away shortly, along with numerous fixes.

[2019-08-01 16:31] dshafik commented on #12
All documentation should be updated shortly (waiting on the build)

[2019-08-01 16:33] dshafik commented on #7
The docs should be updated shortly to correctly use `akamai_cp_code`

[2019-08-01 16:33] #7 closed, assigned to nobody

[2019-08-01 20:53] dshafik commented on #24
Closing this out as invalid for now

[2019-08-01 20:53] #24 closed, assigned to nobody

[2019-08-01 20:59] dshafik opened #31 "PAPI timeouts should be handled gracefully"
When PAPI times out (specifically in this case, when submitting an activation) and the request times out, Terraform crashes. We should handle this better.

[2019-08-01 21:01] dshafik opened #32 "Resume existing property activation if in progress for the same version"
If there is an activation pending/in progress for the same version when applying, we should "resume" the activation using it instead of failing or trying to create a new one.

This means the following works as expected:

1. `terraform apply` - creates new activation
2. Timeout occurs, currently leaving terraform in a broken state
3. `terraform apply` - resumes the activation transparently

[2019-08-01 21:02] dshafik commented on #26
We believe that this is caused by race conditions with the API due to the volume of requests, so we are going to add some brief delays in here to help it out.

[2019-08-02 00:43] atward opened #33 "Add terraform (*.tf) checks to build pipeline"
The build pipeline should ensure terraform examples are syntactically valid & consistent with community style.

Current master shows one syntactically invalid config (and all others requiring formatting):

[code]

This can be done with `terraform fmt -check` in an appropriate stage in the Makefile but will require that a terraform binary be available.

[Here](https://github.com/terraform-aws-modul

[2019-08-02 01:11] dshafik commented on #33
@atward great suggestion, we're still working out our strategy for examples that are maintainable and discoverable. As we roll that out we'll keep this in mind!

[2019-08-02 07:13] molodchenko commented on #5
I am managing Akamai properties with terraform, but somebody changed property version and added new rules.
After this i did `terraform apply`. Then i can see that Terraform created the new version of property but with rules which were added manually.
If it is expected behavior then how can i guarantee immutability of Akamai configuration with terraform?

[2019-08-05 14:15] MarkDordoy opened #36 "akamai_edge_hostname - How to add mulitple hostnames"
Hello

What is the format required to add more than one edge hostname to a hostname resource.

Eg
[code]
### Terraform Version
0.12.3

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_edge_hostname

### Expected Behavior
Create an edge hostname with mulitple hosts

### Actual Behavior
A reference to a resource type must be followed by at least one attribute
acces

[2019-08-06 08:51] MarkDordoy opened #37 "Documentation discrepancy : property_activation.html.markdown"
Hello

The documentation for `akamai_property_activation` example and argument reference are not the same.

https://www.terraform.io/docs/providers/akamai/r/property_activation.html

[2019-08-06 13:38] MarkDordoy opened #39 "data resource akamai_group doesn't find both groups"
Hello

Im using the data resource of akamai_group twice in my config. It finds one group but not the second. Both of which i can confirm exist via the luna portal.

Both groups sit in the same contract. Ive tried not adding the contract ID and adding, same result happens.

### Terraform Version
[code]

### Affected Resource(s)
- data akamai_group

If this issue appears to affect multiple resources

[2019-08-06 20:08] dshafik commented on #36
@MarkDordoy you should either use a loop (count = 2) with a map containing each hostname, or have multiple `akamai_edge_hostname` blocks.

Something like this:

[code]

[2019-08-06 23:30] #10 closed, assigned to nobody

[2019-08-06 23:30] dshafik commented on #10
@wvdhengel this has been fixed and will be included in the next release, thanks! :)

[2019-08-06 23:38] dshafik commented on #37
This should be resolved when the docs next rebuild, thanks 👍

[2019-08-07 16:27] MarkDordoy commented on #39
This can be closed. Looks like API permissions are bound to the groups they had set at creation time. When changing the group for parent account for the API, the API did not see the scope change (until new credentials were generated).

[2019-08-07 16:27] #39 closed, assigned to nobody

[2019-08-07 16:29] dshafik commented on #39
@MarkDordoy thanks for the update!

[2019-08-07 16:30] MarkDordoy opened #41 "akamai_property_activation: Documentation for version property invalid"
Hi

The docs here https://www.terraform.io/docs/providers/akamai/r/property_activation.html state i can set version to "latest", however the code says it only supports an int. How do i make sure it always uses latest.  I was using `akamai_property.example.version` which seems to work, but i did something get issues if there was any unpublished versions created in the portal.

### Terraform Version

[2019-08-07 16:31] dshafik commented on #37
This has now deployed, so I'm going to close this issue. Let us know if there are any further issues!

[2019-08-07 16:31] #37 closed, assigned to nobody

[2019-08-08 15:44] ManuelDAlvarez opened #43 "Error when a delivery configuration is deleted outside terraform"
If a configuration is deleted outside terraform, it returns a 403 and you lose control or the provider. Deleting it from the TF file does not work as it tries to get the property status from the API and the API returns a 403

### Terraform Version
$ terraform -v
Terraform v0.12.2
+ provider.akamai v0.1.2
+ provider.local v1.3.0

### Affected Resource(s)
akamai_property

### Terraform Configuration

[2019-08-08 16:09] ManuelDAlvarez opened #44 "Edge hostnames are not replaced when updated on the TF file"
### Terraform Version
$ terraform -v
Terraform v0.12.2
+ provider.akamai v0.1.2
+ provider.local v1.3.0

### Affected Resource(s)
akamai_property

### Terraform Configuration Files
[code]

### Debug Output/Steps to Reproduce
Status before changes: existing configuration with hostnames hmh-tf-v2.demo.edgesuite-staging.net and www.manuel.test

Run `terraform apply`
[code]

It will result in the crea

[2019-08-08 17:52] dshafik commented on #43
Unfortunately, we cannot differentiate between the property being deleted and permissions being revoked, so we cannot do more than show a permissions error. We should tighten up the error message, but other than that there isn't much we can do.

[2019-08-08 17:52] #43 closed, assigned to nobody

[2019-08-09 15:28] jeohist commented on #5
@dshafik Could documentation for terraform import be added? For example, like this AWS Provider example: https://www.terraform.io/docs/providers/aws/r/route53_zone.html#import

[2019-08-10 01:33] #30 closed, assigned to nobody

[2019-08-10 01:33] #44 closed, assigned to nobody

[2019-08-10 01:42] #41 closed, assigned to nobody

[2019-08-10 01:43] dshafik commented on #41
This has been fixed, the new documentation will build shortly. In short: to activate `latest` do not specify a version at all.

Thanks for reporting this!

[2019-08-10 02:16] dshafik commented on #32
This should be resolved by #45, however this issue specifically isn't tested fully so I'm leaving it open.

[2019-08-10 02:17] dshafik commented on #31
This should be resolved by #45

[2019-08-10 02:17] #31 closed, assigned to nobody

[2019-08-14 05:41] dshafik commented on #36
@MarkDordoy can you confirm that this solved your issue? Thanks!

[2019-08-14 08:01] MarkDordoy commented on #36
@dshafik yes your proposal does work. However in my opinion that just creating two akamai_edge_hostname resources does the same job (albeit with more config). The documentation wording leads me to think it supports an array of values for the argument `edge_hostname`.

I will close this ticket but i do think it might be worth updating the documentation as it is a bit misleading

[2019-08-14 08:01] #36 closed, assigned to nobody

[2019-08-16 19:19] dmcallis1 opened #51 "akamai_property_activation resource - changing network field causes deactivation of version in staging"
### Terraform Version
Terraform v0.12.3

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_property_activation

### Terraform Configuration Files
[code]

### Panic Output
If Terraform produced a panic, please provide a link to a GitHub Gist containing the output of the `crash.log`.

### Expected Behavior
The referenced property version should be activated on the s

[2019-08-21 16:29] ecekarthic opened #52 "Errors in documentation: akamai_contract and akamai_cp_code"
Hi,
I noticed few issues in the documentation.
Here are the links of the page that has the errors.

1. https://www.terraform.io/docs/providers/akamai/d/contract.html
The description should read "Use akamai_contract data source to retrieve a **contract id**." instead of "Use akamai_contract data source to retrieve a group id."

2. https://www.terraform.io/docs/providers/akamai/d/cp_code.html
The de

[2019-09-02 09:39] alex-3sr commented on #23
Hi,

Does we have an estimation for the next provider release ?
Or, are there a workaround for use the fix before waiting next release ?

Thanks,
Alexandre

[2019-09-02 09:53] alex-3sr commented on #23
Hi,

U can ignore my question ^^ Finally, I deleted the subfolder plugin on my terraform folder, and new plugin 0.1.3 was downloaded successfully and now able to add new DNS record again ;)

Thx
Alexandre

[2019-09-02 13:13] bogdan-grozoiu opened #53 "Support the creation of DNS records of type AKAMAICDN"
Hi Akamai team,

As you have your own types of records, please enhance the provider to support the creation of DNS records of type `AKAMAICDN`.

### Terraform Version
Terraform v0.12.7
+ provider.akamai v0.1.3

### Affected Resource(s)
- akamai_dns_record

### Terraform Configuration Files
[code]

### Expected Behavior
Be able to create DNS records of type AKAMAICDN using the latest version of TF

[2019-09-02 18:44] ericrichtert opened #54 "Provider produced inconsistent result after apply"
### Terraform Version
Terraform v0.12.7
+ provider.akamai v0.1.3
+ provider.aws v2.26.0

### Affected Resource(s)
akamai_dns_zone
akamai_dns_record

### Terraform Configuration Files
[code]

[2019-09-06 08:55] jazzista88 opened #55 "Add Version Notes"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
0.12.8.

I was wondering if there is any way to add a Version Notes related to the current property i'm going to change.

[2019-09-09 14:20] mikecarrington opened #56 "Create edge hostname 400 error Bad Request Request parameter Slot Number"
Hi
Have an issue with creating Enhanced TLS edge hostname.
When executing simple terraform script to create a new edge hostname, the process errors:
[code]

### Terraform Version
[code]

### Affected Resource(s)
- akamai_edge_hostname

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/mikecarrington/e5cf6dddc7bc4d1935f4230137a2a63c

### Expected Behavior
Edge hostn

[2019-09-09 16:33] mikecarrington commented on #56
Trying this in python using the `akamai.edgegrid` library the options payload requires both SlotNumber and certEnrollmentId, the latter is getting set as part of the provider, but SlotNumber is not.

[2019-09-11 14:27] TristanBaoui opened #57 "Multiple MX records creation issue"
### Terraform Version
Terraform v0.12.7
+ provider.akamai v0.1.3

### Affected Resource(s)
- akamai_dns_record

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/TristanBaoui/a05bda4c18f1d5690b522fd5b6155585

### Expected Behavior
MX records should both be created and output should be OK

### Actual Behavior
MX records are created BUT terraform state is not up to d

[2019-09-16 10:03] TristanBaoui opened #58 "TXT record - State update failure due to sha verification issue"
### Terraform Version
Terraform v0.12.7
+ provider.akamai v0.1.3

### Affected Resource(s)
- akamai_dns_record

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/TristanBaoui/9b7a2010fe27b2552c8887ab7afdc47b

### Panic Output
If Terraform produced a panic, please provide a link to a GitHub Gist containing the output of the `crash.log`.

### Expected Behavior
TXT re

[2019-09-24 22:15] Taik commented on #56
We're getting the same issue when creating an `ENHANCED_TLS` edge host name (domainSuffix being `edgekey.net`).

Is the documentation incorrect or needs updating? https://developer.akamai.com/api/core_features/property_manager/v1.html#enhancedtls

[2019-09-24 22:37] Taik commented on #56
Just to clarify, this actually gets omitted from the serialized JSON data because of the [`omitempty` option](https://github.com/akamai/AkamaiOPEN-edgegrid-golang/blob/f85d9fba0c117ecabe725f3bf31a45ddfb182d85/papi-v1/edgehostnames.go#L152). I'm thinking the API has changed and now requires `SlotNumber` to be set.

[2019-09-30 08:29] jazzista88 commented on #55
Any news on this?
I would add another question to this topic, is there a way to create a new version from an existing property?

[2019-09-30 08:34] jazzista88 commented on #5
Hello @dshafik
I would ask if there is a way to avoid the new property creation.
I mean we have more that 50 akamai properties and we cannot migrate all of them in this way.
We would use terraform akamai provider to edit an existing property version, making changes and then apply them to the existing property?
Is this possible?

[2019-10-03 12:25] jazzista88 commented on #5
Hello @molodchenko
Sorry i am confused, how did you created a new version? I have created a new akamai property, so it is now V1, it is not active neither on staging nor on production, when i run terraform apply i don't see any new version created the apply is editing just the V1.
it is needed that they are activated on one of these env? Or there is a way to create a new version secifying a parame

[2019-10-03 15:04] jazzista88 commented on #5
Ii found also this old thread where it seems that terraform import can be applied:
[https://community.akamai.com/customers/s/article/How-to-load-an-existing-property-in-Terraform](https://community.akamai.com/customers/s/article/How-to-load-an-existing-property-in-Terraform)

[2019-10-03 18:55] sbfaulkner commented on #5
it would be nice to be able to import the cpcode resource too

[2019-10-10 13:06] ghost commented on #53
As of October 2019, the AKAMAICDN record is not able to be set by customers and partners on a Fast DNS level. Therefore this record is disallowed on a Terraform level as well. Updating the Terraform code to whitelist AKAMAICDN will not result in successful setting of the AKAMAICDN record.

In your use-case above acc.companyname.com CNAME acc.companyname.edgekey.net, a normal CNAME record would suf

[2019-10-10 13:09] ghost commented on #56
We have identified the root cause for this issue and this is fixed by my colleague Ian and put in PR: https://github.com/terraform-providers/terraform-provider-akamai/pull/59

Both CertEnrollmentId and SlotNumber will now be set for Enhanced TLS configurations.

[2019-10-10 17:46] dmcallis1 opened #60 "New Property Version doesn't result in auto-Activation"
### Terraform Version
Terraform v0.12.3
+ provider.akamai v0.1.3
+ provider.template v2.1.2

### Affected Resource(s)
- akamai_property_activation

### Terraform Configuration Files
[code]

### Actual Behavior
When making changes to rule tree ("akamai_property" resource, rules attribute) with the "akamai_property_activation" resource configured as above. The Provider creates a new property version

[2019-10-10 18:50] ghost opened #61 "akamai_dns_zone resource requires mandatory MASTERS argument, even when creating a Primary Fast DNS zone"
When creating a new Fast DNS zone with Terraform, you use the akamai_dns_zone resource. This resource has a mandatory use of the MASTERS arguments, the Master Nameservers are only needed for Secondary Fast DNS. When using Primary Fast DNS, there are no nameservers needed as these are Akamai's nameservers.

Masters should only be required when type ="secondary".

### Terraform Version
Terraform v0.

[2019-10-10 19:40] ghost commented on #60
Seconded, noticed the same behavior and had to commit the -terraform apply- command twice. Once to create a new version, secondly to activate on both Staging and/or Production.

[2019-10-14 16:19] dmcallis1 opened #62 "Documentation Issue: akamai_cp_code resource not listed in supported resources"
The existing terraform documentation for supported resources omits examples of 'akamai_cp_code' resource:

https://www.terraform.io/docs/providers/akamai/

The below is a supported method for defining CP Code resources which enables CP Codes to be provisioned on demand:

[code]

Currently documentation only references pulling existing CP Code values using data sources.

Customers have expressed in

[2019-10-17 19:29] an774a opened #63 "feature request - CPS support"
Hello -- please add CPS support ( https://developer.akamai.com/api/core_features/certificate_provisioning_system/v2.html ) to this provider.

Thank you!

[2019-10-17 19:30] an774a opened #64 "feature request - secure provisioning service"
Hello -- please add SPS support ( https://developer.akamai.com/api/core_features/secure_provisioning_service/v1.html ) to this provider.

Thank you!

[2019-10-17 19:31] an774a opened #65 "feature request - application_security"
Hello -- please add appsec support ( https://developer.akamai.com/api/cloud_security/application_security/v1.html ) to this provider.

Thank you!

[2019-10-18 07:42] ghost commented on #63
Thanks for the feedback!

Certificate management on Akamai is a high priority feature to have enabled in the Akamai provider. This is on the roadmap.

[2019-10-18 07:44] ghost commented on #64
Thanks for the feedback!

Certificate management and the ability to create Secure EdgeHostname on Akamai is a high priority feature to have enabled in the Akamai provider. This is on the roadmap.

Today you are able to create Edge Hostnames and map them to a slot number with the current resources.

[2019-10-18 07:44] ghost commented on #65
Thanks for the feedback!

Managing security configurations through Terraform is a high priority feature to have enabled in the Akamai provider. This is on the roadmap.

[2019-10-21 20:10] joshuamsager opened #66 "Remote EdgeWorker Behavior in Property Manager is not being picked up by Terraform"
### Terraform Version
Terraform v0.12.6
+ provider.akamai v0.1.3

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_property

### Terraform Configuration Files
[code]

[code]

### Expected Behavior
Terraform should plan and find no changes. Since the EdgeWorker behavior is already configured and defined here:
<img width="1072" alt="Screen Shot 2019-10-18 at 3 48 0

[2019-10-23 20:17] ManuelDAlvarez opened #67 "invalid new value"
### Terraform Version
$ terraform -v
Terraform v0.12.2
+ provider.akamai v0.1.2
+ provider.local v1.3.0

### Affected Resource(s)
- Akamai Provider

### Terraform Configuration Files
https://github.com/ManuelDAlvarez/playTerraform

### Debug Output
Error: Provider produced inconsistent final plan

When expanding the plan for akamai_property_activation.terraform-7-activation
to include new values l

[2019-10-23 20:19] ManuelDAlvarez commented on #67
The full error report

[fullError.txt](https://github.com/terraform-providers/terraform-provider-akamai/files/3764292/fullError.txt)

[2019-10-24 08:20] jazzista88 commented on #66
Hello @joshuamsager
If you are performing changes on akamai property manager maually, terraform won't be able to see that change, the provider is not allowed to do that.
If you use terrafom this means that changes have to be done locally on your terraform configuration i guess, then with apply you can push ti on the property manager config.
Personally, in order to handle the akamai property manage

[2019-10-24 13:55] joshuamsager commented on #66
The expectation is that when I modify Property Manager manually, it becomes inconsistent with the terraform state tree... Terraform at this point should suggest changes via `terraform plan` to make these configurations consistent.

My issue here is the following: modifying the behavior via the UI AND via terraform should suggest no changes because terraform plan's state should be consistent with t

[2019-10-25 11:23] jazzista88 commented on #66
@joshuamsager the same for me, and this is the reason why i used a workaround to do that.

[2019-10-28 14:57] sidph commented on #64
Hi @an774a  - we are in the process of retiring the SPS API since we have the workflow [here](https://learn.akamai.com/en-us/learn_akamai/getting_started_with_akamai_developers/core_features/create_edgehostnames.html) enabled. You should be able to provision a secure edgehostname without needing SPS via the terraofrm provider (hint: use the edgekey.net hostname)

[2019-10-28 14:57] #64 closed, assigned to nobody

[2019-10-30 15:38] TristanBaoui opened #69 "terraform import on akamai_dns_record failing"
### Terraform Version
Terraform v0.12.7
+ provider.akamai v0.1.3

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_dns_record

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/TristanBaoui/f4abb974eabc4b8c8c9034cb98b3b305

### Expected Behavior
The record import should have filled the terraform state

### Actual Behavior
It just

[2019-10-30 19:20] martinstibbe commented on #61
Identified the root cause for this issue and this is fixed in PR: #70

[2019-10-30 22:54] martinstibbe commented on #66
Release 0.1.4 coming up soon will have PR https://github.com/terraform-providers/terraform-provider-akamai/pull/68 for a fix that may help with this issue to detect changes on UI side versus current terraform state

[2019-11-01 19:35] martinstibbe commented on #54
If you remove the extra . on end of names parameter this one should match results given back API for A records

provider "akamai" {
    edgerc = "~/.edgerc"
    dns_section = "dns"
}

locals {
  zone = "akavadev1.net"
}

data "akamai_contract" "contract" {
}

data "akamai_group" "group" {
}

resource "akamai_dns_record" "a__xxx_nl" {
  zone       = "${local.zone}"
  name       = "${local.zone}"

[2019-11-18 16:45] martinstibbe commented on #58
This will be fixed in 0.1.4 release coming up this week library has fix merged to master already

[2019-11-26 12:53] jhoekstra commented on #56
Do you have an ETA for when this enters in a release used by Terraform?
Running into this issue when onboarding a new customer.

[2019-11-27 23:51] melissabrooksQHR opened #71 "Product for new resource not being acknowledged"
Terraform version
[code]

I am trying to create a new property in an existing property group.

I have attached the resource statement below. When I run this, the Product value is not being acknowledged, but, if I run without the Product code, it is the same error:

`Error: product must be specified to create a new property`

Here is my resource statement:
[code]

Am I missing something? I am prett

[2019-11-28 14:53] olksdr opened #72 "Only last behaviour applies from the child rule"
### Terraform Version
Terraform v0.12.12
+ provider.akamai v0.1.3

### Affected Resource(s)
- akamai_property

### Terraform Configuration Files
[code]

In the  my rules file I have a following child rule:
[code]

### Expected Behavior
I expect to see all the behaviours to be pushed to the property on the Akamai side in this specific rule.

### Actual Behavior
There is only one **last** behaviour

[2019-11-28 16:10] sbfaulkner commented on #72
fyi... related (with pending fix) - https://github.com/akamai/AkamaiOPEN-edgegrid-golang/issues/56#issuecomment-558178352

[2019-11-28 16:26] olksdr commented on #72
@sbfaulkner thanks for the info! I hope the new release will be up soon 👍

[2019-12-04 20:18] melissabrooksQHR opened #73 "Terraform Crash Error: rpc error: code = Unavailable desc = transport is closing"
### Terraform Version
[code]

### Affected Resource(s)
No resources were impacted. Attempt was to create a new property in akamai.

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Panic Output
[code]

### Expected Behavior
A new property is created in Akamai

### Actual Behavior
Terraform crashed

### References
This issue has been reported and resolved on the terraform side

[2019-12-04 20:21] melissabrooksQHR commented on #71
Switched to use an edgerc file and no longer received the product error, instead, terraform crashed.

Created a new issue:
https://github.com/terraform-providers/terraform-provider-akamai/issues/73

[2019-12-04 20:21] #71 closed, assigned to nobody

[2019-12-04 20:58] melissabrooksQHR commented on #23
Hi,

I am still getting this same error using 0.1.3.

I tried deleting my terrafrom folder and re initializing with the same result.

[code]
Any ideas?

Thanks,
Melissa

[2019-12-06 13:47] jhoekstra opened #76 "Terraform provider not completely following ruleformat"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.12.17
### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_property_rules

### Terraform Configuratio

[2019-12-06 15:43] jhoekstra opened #77 "Define order of rules."
Hi,

Generally we setup properties for our customers using a fixed layout which is dependant on order of rules, the tree looks like this:
Default
- ORIGINS
- REDIRECTS
- MEASUREMENTS
- FUNCTIONALITY
- PERFORMANCE
- SECURITY
- AVAILABILITY
- OFFLOAD
- CACHING RULES
- CLOUDLETS
- ADVANCED

When applying this in Terraform rules (since the json variable replacement doesn't always work due to API restr

[2019-12-07 19:43] martinstibbe commented on #56
Released https://releases.hashicorp.com/terraform-provider-akamai/0.1.4/ feel free to test

[2019-12-07 19:46] martinstibbe commented on #66
https://releases.hashicorp.com/terraform-provider-akamai/0.1.4/ released please test and validate

[2019-12-07 19:47] martinstibbe commented on #61
https://releases.hashicorp.com/terraform-provider-akamai/0.1.4/ released please test and validate

[2019-12-07 19:48] martinstibbe commented on #58
https://releases.hashicorp.com/terraform-provider-akamai/0.1.4/ released please test and validate

[2019-12-07 19:49] martinstibbe commented on #72
https://releases.hashicorp.com/terraform-provider-akamai/0.1.4/ released please test and validate

[2019-12-07 19:51] martinstibbe commented on #73
https://releases.hashicorp.com/terraform-provider-akamai/0.1.4/ released please test and validate

[2019-12-10 07:00] olksdr commented on #72
hi @martinstibbe ,
I can confirm that with `0.1.4` version all the behaviours are submitted and applied. And I can see the corresponding blocks in the UI as well.

[2019-12-10 07:00] #72 closed, assigned to nobody

[2019-12-10 17:13] martinstibbe commented on #67
@ManuelDAlvarez We have made some changes in  0.1.4 seems to be related to version being null vs 1 from first activation let me know if issue goes away using version parameter (we need a strategy on how to handle null)

resource "akamai_property_activation" "property_activation" {
	property = "${akamai_property.property.id}"
	network = "STAGING"
	activate = true
	contact = ["martin@akava.io"]
	ver

[2019-12-12 02:59] martinstibbe commented on #57
Fixed in AT-25
Also a more compact form of your stacked MX records would work here as well

resource "akamai_dns_record" "mx_record" {
    zone = "${local.zone}"
    name = "akavdev.net"
    recordtype =  "MX"
    active = true
    ttl =  300
    target = ["smtp-0.akavdev.net.","smtp-1.akavdev.net.","smtp-3.akavdev.net."]
    priority = 10
    priority_increment = 10
}

[2019-12-12 03:14] martinstibbe commented on #25
Here is a working example that would yield this

resource "akamai_dns_record" "acc_companydomain_com-txt" {
  zone       = "${local.zone}"
  name       = "akavdev.net"
  recordtype = "TXT"
  ttl        = 300
  active     = true
  target = [
    "\"OneWord\"",
    "\"Two Words\""
    ]
}

"" = " \ "

akavdev.net.		300	IN	TXT	"OneWord"
akavdev.net.		300	IN	TXT	"Two Words"

[2019-12-12 04:19] martinstibbe commented on #26
Using a count resource in large record counts used to skip a mutex of one api call causing this to happen it appears to work in .12 release of Terraform tried with 150 records at a time

Can you please verify if this is still an issue (see example below)

Thanks

resource "akamai_dns_record" "a_record" {
    count = 150
    zone = "${local.zone}"
    name = "www-${count.index}.akavadev1.net"
    r

[2019-12-12 04:35] martinstibbe commented on #11
I have a sorting enhancement in a PR for MX records
branch AT-25 has this for an upcoming release

[2019-12-19 15:01] olksdr opened #81 "[bug] Criteria is always end up using must satisfy "all""
### Terraform Version
Terraform v0.12.12
+ provider.akamai v0.1.4

### Affected Resource(s)
- akamai_property

### Terraform Configuration Files
[code]

In the  my rules file I have a following child rule:
[code]

### Expected Behavior
I expect to see in the UI  **OR** condition
![image](https://user-images.githubusercontent.com/1931331/71183391-37742580-2278-11ea-872e-b1fc6e32148a.png)

### Actua

[2019-12-19 19:19] #67 closed, assigned to nobody

[2019-12-19 19:20] #61 closed, assigned to nobody

[2019-12-19 19:21] #54 closed, assigned to nobody

[2019-12-19 19:22] #58 closed, assigned to nobody

[2019-12-19 19:22] #56 closed, assigned to nobody

[2019-12-19 19:24] #25 closed, assigned to nobody

[2019-12-19 19:24] #73 closed, assigned to nobody

[2019-12-19 19:26] #66 closed, assigned to nobody

[2019-12-19 19:27] #9 closed, assigned to nobody

[2019-12-19 19:28] #26 closed, assigned to nobody

[2019-12-20 15:38] olksdr opened #82 "Provider produced inconsistent final plan"
### Terraform Version
Terraform v0.12.12
+ provider.akamai v0.1.4

### Affected Resource(s)
- akamai_property
- akamai_property_variables

### Terraform Configuration Files
[code]

### Panic Output
[code]

### Expected Behavior
- new variables must be created
- the existing variables must be modified

### Actual Behavior
- when I add a new variable to the list of the existing ones the panic happen

[2019-12-23 21:37] melissabrooksQHR opened #83 "The NetStorage Account option on the `Origin Server` behavior is required."
Hi there,

I have a terraform script that successfully creates a new property and sets the origin type to NetStorage, however it errors saying I need to set the storage account.

Can someone provide an example of what that syntax would look like? This is the json equivalent:

[code]

### Terraform Version
[code]

### Terraform Configuration Files
[code]

### Debug Output
Plan works as expected, an

[2019-12-30 10:22] jazzista88 opened #84 "crash when try activation of property version 1"
#28 # Terraform Version
# terraform version
Terraform v0.12.18
+ provider.akamai v0.1.4
+ provider.aws v2.41.0
+ provider.template v2.1.2

### Affected Resource(s)
Please list the resources as a list, for example:
# terraform state list
data.akamai_contract.ctr_3-RIE557
data.akamai_cp_code.cpc_372168
data.akamai_group.grp_63157
data.aws_caller_identity.current
data.aws_region.current
data.template

[2020-01-02 18:58] martinstibbe commented on #84
Could you try using this additional parameter ?

resource "akamai_property_activation" "property_activation" {
	property = "${akamai_property.terraform_property_test1.property.id}"
	version = "${akamai_property.terraform_property_test1.version}"
	network = "STAGING"
	activate = true
	contact = ["email@address.com"]
}

[2020-01-02 20:49] mvanhornakamai commented on #83
Netstorage is a special origin type that requires a user had already setup a folder and access control under their Netstorage account.  The PAPI JSON would look something like this:

            {
                "name": "origin",
                "options": {
                    "originType": "NET_STORAGE",
                    "netStorage": {
                        "downloadDomainName": "example.

[2020-01-02 21:16] sidph commented on #77
Hi @jhoekstra - curious to dig in more into this. Can you provide us a copy of your tf file?

[2020-01-02 21:34] melissabrooksQHR commented on #83
Thank you so much for the reply.

Do you know how to convert this JSON snippet to terraform?

[2020-01-02 21:40] sidph commented on #83
@melissabrooksQHR The recommended approach to construct any advanced Akamai attributes is to leverage the JSON directly via local_file as detailed [here](https://www.terraform.io/docs/providers/akamai/g/get_started_property.html) . In the coming days we'll be adding examples that leverage template_file to construct JSON snippets too so you can modularize the configuration

[2020-01-02 22:58] melissabrooksQHR commented on #83
@sidph thank you very much, this information was useful.

I will update my script to use the JSON directly as you have suggested.

[2020-01-02 23:42] #83 closed, assigned to nobody

[2020-01-03 01:56] martinstibbe commented on #60
Ok this makes sense based on version = "${akamai_property.epic-tf-demo.version}"
This would have rev/version one behind until a refresh/apply so by time activation resource fires up it sees this old version

Activation latest the version is left blank and it searches for latest according to test cases

resource "akamai_property_activation" "property_activation" {
	property = "${akamai_property.pro

[2020-01-03 19:36] martinstibbe commented on #82
This does not appear to fail in latest release coming up with newer golang library attached

[2020-01-07 15:25] mayaaravotwm opened #87 "akamai 0.1.5 - err: rpc error: code = Unavailable desc = transport is closing"
Hello,
After release v1.0.5, my terraform fails with the error:
[code]

 when I got it back to v1.0.4 it worked again.
[code]

[code]

carsh.log:
 https://gist.github.com/mayaaravotwm/731e62c965cb69f19083c26d41aa0513

Expected Behavior
work as v0.1.4

Actual Behavior
terraform crash

[2020-01-07 18:14] #51 closed, assigned to nobody

[2020-01-08 16:12] martinstibbe commented on #87
Maya Do you have an example TF file you can provide with rules.json for reference as error appears right after working on data.akamai_property_rules.rules ...

[2020-01-09 06:45] olksdr commented on #81
this one looks like to be fixed

[2020-01-09 06:45] #81 closed, assigned to nobody

[2020-01-09 08:19] olksdr commented on #82
Looks like this was fixed in `provider.akamai v0.1.5` as well

[2020-01-09 08:19] #82 closed, assigned to nobody

[2020-01-09 11:32] mayaaravotwm commented on #87
[code]

[2020-01-09 11:42] olksdr opened #88 "Provider produced inconsistent final plan"
### Terraform Version
Terraform v0.12.18
+ provider.akamai v0.1.5

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_property_activation

### Terraform Configuration Files
[code]

### Panic Output
[code]

### Expected Behavior
The activation should be done on the first run without any errors

### Actual Behavior
The first `terraform apply` after changes produces e

[2020-01-09 15:56] jazzista88 commented on #84
By adding **property = "${akamai_property.terraform_property_test1.property.id}"**

terraform plan
[code]
Following your suggestion it seems that akamai_property.terraform_property_test1.**property**.id
does not exists.
I checked on doc and that argument does not exist indeed.
Moreover in doc i see this:
[code]
Where the akamai property id is called like **akamai_property.example.id** that is exac

[2020-01-10 12:41] unixsurfer commented on #87
I got the same crash today, when I upgraded from 0.1.4 to 0.1.5

[code]

[2020-01-13 09:27] ynohat commented on #88
@olksdr  I am running into this issue as well on TF 0.12.19 with Akamai provider 0.1.5; a workaround that may work for you: comment out the `version` field of the activation resource.

[2020-01-13 14:44] unixsurfer opened #89 "unrelated changes are shown"
### Terraform Version
[code]
### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_property (`rules` argument)

### Terraform Configuration Files
[code]

I can't find your GPG public key, please provide one and I will send the configuration.

### Debug Output
https://gist.github.com/unixsurfer/736b8d82f1674f60682f5793a712752c

### Panic Output
None

### Expected Behav

[2020-01-14 09:30] olksdr commented on #88
@ynohat thanks for the suggestions. It will work for `staging` but my `production` relies on the property `version` and `stagning_version` and it should be set explicitly all the time. If the version is removed the `production` activation might pick up the latest property version, which might haven't been tested yet.  😄

[2020-01-15 14:26] ynohat commented on #88
Yes, that is the tradeoff. YOLO driven development.

[2020-01-15 14:33] sidph commented on #88
@olksdr @ynohat we are exploring how we solve for this quirky workflow. Our current thinking is to structure the activate resource such that:
1. Commenting out/not specifying the version just saves and activates the latest
2. providing the version, activate=true follows the current pattern. A first apply will save, following will activate
3. providing the version, setting activate to false will ju

[2020-01-15 16:02] olksdr commented on #88
What I noticed with more testing today:
* I never hit this kind of error now while I'm modifying and activating only 1 property (using `terraform -target`)
* but when there is a bunch of the properties being activated (8 in my case) I hit this bug 100% of the time now.

The workflow is simple: modify rules, run `terraform apply` and all the properties are modified as expected, rules deployed but a

[2020-01-15 16:03] olksdr commented on #88
@sidph  the third case you mentioned: I never used the activation property with `activate` set to `false` and can't report on this

[2020-01-15 19:25] dekimsey commented on #22
Creating users would be nice, but more importantly (for us) it's creating API access tokens. Those are typically specific to where they are being used. I'd love to be able to generate them in terraform for easier management.

[2020-01-15 22:33] ynohat commented on #88
Hey @sidph I like the fact that an activation is just a resource.

Why can't we have:

* activate renamed to active (to match the declarative semantics, but that's sugar)
* active = true : activate if not already active
* active = false : deactivate if active

The use case for just managing the version and not deploying it is then handled by not including an activation resource.

Not sure this is

[2020-01-15 23:14] sidph commented on #88
@ynohat primarily because we don't recommend deactivations. We are setup differently to other cloud providers - so the the recommendation is a create/destroy cycle means simply translates to a new version in Akamai. The above use case also doesn't account for users who want to save but not deploy

[2020-01-15 23:29] ynohat commented on #88
@sidph The UI allows us to deactivate a version, not sure why terraform shouldn't allow it?

Saving and not deploying could be handled by not including an activation resource, or by including an activation resource that points to the currently active version (as retrieved using a data source that we would need to add, maybe)?

[2020-01-16 15:57] martinstibbe commented on #87
Found issue this will be fixed in next release

[2020-01-17 10:08] IanCassTwo commented on #88
Surely the "Terraform way" of causing a managed resource to be destroyed would be to remove it from the .tf file? It doesn't make much sense to me to have a resource definition for a resource that doesn't exist (active = false : deactivate if active). I think the "activate = false" tag should simply cause the "apply" to do nothing - i.e. don't activate a new version but also don't deactivate exist

[2020-01-17 20:28] christopherbox opened #92 "akamai_dns_zone TXT Record Produces Inconsistent Results"
# Terraform Version
```Terraform version: 0.12.18```

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_dns_zone

### Terraform Configuration Files
[code]

### Debug Output
[Gist-Link](https://gist.github.com/christopherbox/c8e4b23a8378f19b58f31413b542e253)

### Expected Behavior
The apply should perform normally with no error and no inconsistent results where the

[2020-01-20 10:37] asonitis365 opened #93 "Bug - Origin values customhostheader"
### Terraform Version
Terraform version: 0.12.6

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai property

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/asonitis365/26a811402e155a5d2489bff5122fee7f

### Expected Behavior
The default rule should add the custom host header

### Actual Behavior
It throws a rule validation error

[2020-01-20 10:41] asonitis365 commented on #93
PR to fix

https://github.com/terraform-providers/terraform-provider-akamai/pull/90

[2020-02-06 18:41] bpennypacker opened #101 "Support for WAF network lists"
Hi Akamai,

We would love to have the ability to manage WAF network lists (both IP and geo) through terraform. It's currently a major pain to keep track of changes, what IP was added for what reason, etc.

-Bruce

[2020-02-08 14:48] #62 closed, assigned to nobody

[2020-02-08 14:49] #57 closed, assigned to nobody

[2020-02-08 14:49] #60 closed, assigned to nobody

[2020-02-10 02:46] martinstibbe commented on #92
If you try target = ["\"276212564-221025253\""] it should work

[2020-02-10 02:54] martinstibbe commented on #84
example "${akamai_property.example.id}"  you could change to "${akamai_property.terraform_property_test1.id}"

[2020-02-10 03:04] martinstibbe commented on #89
@unixsurfer This looks related to PR [#91](https://github.com/terraform-providers/terraform-provider-akamai/pull/91) the optional parameters not being carried downstream show up as a diff a possibility

[2020-02-10 09:07] unixsurfer commented on #89
@martinstibbe thanks. I will wait for the next release, which hopefully will include a fix for the [crash](https://github.com/terraform-providers/terraform-provider-akamai/issues/87#issuecomment-573020309).

[2020-02-10 12:23] pnoguera opened #102 "akamai_property_activation creation crashing with Error: rpc error: code = Unavailable desc = transport is closing"
Hi,

while activating an existing property the `terraform apply` crashes with an `index out of range` error. I can confirm that the activation worked with terraform v0.1.3 and the  new behavior was introduced in
this commit:

https://github.com/terraform-providers/terraform-provider-akamai/commit/75943132b8ecc9c0347324050dcf830d1895f551

### Terraform Version
Terraform v0.12.20
+ provider.akamai v

[2020-02-18 14:54] asonitis365 opened #104 "feature request - Activating property on product name"
Hi,

With the current **akamai_property_activation** the prp_ ID needs to be specified which is created after the property is created. Currently you can reference the id from the **akamai_property** resource however you don't have the ability to activate the property version outside the "main.tf"

Creating a generic module to create a property that multiple products can use, minimizing duplicate c

[2020-02-21 14:16] jazzista88 commented on #102
Hello @pnoguera
I have the same problem i cannot activate my version on staging or production.
This issue is came out some months ago and sill not fixed..i don't understand right know, since i cannot push on staging by using terraform plan or apply, the automation i wrote is completely useless...
Please could you help us solving the problem?

[2020-02-24 08:24] jazzista88 commented on #102
I confign that on provider version v0.1.3 all is working.

[2020-02-26 17:17] joel-g opened #109 "Doc update request: resource_edge_hostname import"
This document needs instructions for importing edge hostname resources

https://www.terraform.io/docs/providers/akamai/r/edge_hostname.html

[2020-02-27 16:01] ericrichtert commented on #53
As far as I can see is AKAMAICDN and AKAMAITLC still a valid option. AKAMAITLC is the only way to set a CNAME on a the toplevel of the DNS domain.
Can these be added to the provider?

[2020-03-01 23:30] martinstibbe commented on #88
@olksdr This issue corrected in v0.2.0 also v0.3.0 coming out this next week has a fix for building 10 properties at same time I was able to d0 30 in sets of 10 with this library fix in place to lower traffic for contract group and cpcodes to help get past WAF exceptions

[2020-03-03 16:53] YaroslavJanrain opened #115 "Feature request - accountSwitchKey support"
Hello,

Please add accountSwitchKey support into provider (https://learn.akamai.com/en-us/learn_akamai/getting_started_with_akamai_developers/developer_tools/accountSwitch.html).
I've found few lines here https://github.com/terraform-providers/terraform-provider-akamai/blob/d63f6d806daf6554091d72b1940deb909ebd2451/akamai/resource_akamai_gtm_domain.go#L189 but they are commented.

Thanks!

[2020-03-04 08:37] IanCassTwo commented on #115
It works today if you format your .edgerc like this:-

[section]
client_secret = XXXXXXXXXX/XXXXXXXXXXXXX/+XXXXXXXXXXX=
host = akab-XXXXXXXXXXX-XXXXXXXXXXX.luna.akamaiapis.net
access_token = akab-************-************
client_token = akab-************-************
account_key = 1-ABCFGH

You can simply create a .edgerc section for each account. Of course, this doesn't help if you don't use .edg

[2020-03-06 16:44] jhoekstra commented on #77
Hi,

Sorry for the late reply, was assigned to other projects.
Attached a stripped down version of a setup for a property, order in which rules are defined is preferred way to have them show up in the property. We first disable all caching to build up cache later on in the property. Stuff like imagemanager should go to the bottom in advanced to make sure it applies to all images for instance.

[pr

[2020-03-06 19:49] #115 closed, assigned to nobody

[2020-03-12 15:45] unixsurfer commented on #102
I think I have hit this as well. I am getting:
[code]

[code]

In my case I don't get a crash and I see the following in the debug log:
[code]

[2020-03-16 11:44] unixsurfer commented on #102
I tried v0.5.0 but with `terraform apply` I got another error:
[code]

[2020-03-18 16:31] ericdebeij commented on #53
Small correction; AKAMAICDN is the option which is self-serviceable and therefor should be added.

[2020-03-19 17:53] IanCassTwo commented on #53
https://github.com/terraform-providers/terraform-provider-akamai/pull/123

[2020-03-25 12:31] IanCassTwo opened #124 "Can't remove a backup_cname from GTM property"
### Terraform Version
Terraform v0.12.20
+ provider.akamai v0.5.0

### Affected Resource(s)
akamai_gtm_property.

### Terraform Configuration Files
[code]

### Debug Output
Plan shows that the backup_cname should be removed.
      - backup_cname                = "www.akamai.com" -> null

However, the json sent over the wire clearly shows that the backup cname is still there...

{
    "backupCName"

[2020-03-28 12:34] #84 closed, assigned to nobody

[2020-03-28 12:34] #87 closed, assigned to nobody

[2020-03-28 12:35] #92 closed, assigned to nobody

[2020-03-28 12:35] #102 closed, assigned to nobody

[2020-03-28 12:37] #93 closed, assigned to nobody

[2020-03-28 12:42] sidph commented on #77
@jhoekstra we'd recommend just passing in all settings through your property_rules.json for this one. You are right - the underlying API will tweak the inputs to reorder it in your setup

[2020-03-28 12:43] #88 closed, assigned to nobody

[2020-03-28 12:44] #89 closed, assigned to nobody

[2020-03-28 12:49] martinstibbe commented on #53
simplerecord := map[string]bool{"A": true, "AAAA": true, "AKAMAICDN": true This will be in next release

[2020-03-30 12:19] edglynes commented on #69
In progress. Zone as well.

[2020-03-30 12:21] edglynes commented on #124
looking at it.

[2020-03-30 12:34] edglynes opened #125 "DNS Alias Zone Support not present"
### Terraform Version
Terraform v0.12.20
+ provider.akamai (unversioned)

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_dns_zone

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
Please provider a link to a GitHub Gist containing the

[2020-03-30 12:35] edglynes opened #126 "Add TSIG Key support to dns_zone"
Enhancement

[2020-03-30 12:38] edglynes commented on #126
In progress.

[2020-03-30 12:39] edglynes commented on #125
In progress

[2020-03-30 12:46] edglynes opened #127 "akamai_dns_record SOA, AKAMAITLC Record Support"
Enhancement

Support SOA and AKAMAITLC Record types

[2020-03-30 12:46] edglynes commented on #127
In progress

[2020-03-30 21:09] sidph commented on #109
@joel-g when you say import, do you mean documenting how an existing edgehostname can be reused or more?

[2020-03-31 10:36] hitsumabushi opened #128 "feature request - akamai_property_rules options fields allow object"
Hi,

I found some akamai property option's value has object type, for example [siteShield]( https://developer.akamai.com/api/core_features/property_manager/vlatest.html#siteshield), [origin](https://developer.akamai.com/api/core_features/property_manager/vlatest.html#origin) behavior.
How about add support new types at akamai property option's value.

### Terraform Version
Terraform v0.12.24

###

[2020-04-02 10:58] xingxing commented on #69
@edglynes
Any progress  on this feature ?

[2020-04-02 12:47] edglynes commented on #69
yes. targeting the next provider release. Are you a current Akamai customer? I'm looking for beta/evaluation feedback. If so, which company are you with and who is your support/sales contact?

[2020-04-03 03:46] xingxing commented on #69
I am servicing for  BigONE, and yep, we are a current Akamai customer. Our support engineer is Eric Yan < myan@akamai.com>. We are interest in the test & evaluation, please connect us further.

[2020-04-06 17:22] ericrichtert commented on #53
@martinstibbe When will the next version release? We are waiting for this item.

[2020-04-08 13:59] edglynes opened #130 "Inverted Parameters - DNS Record Type NAPTR"
Terraform Version
Terraform: 0.12.24
Provider: v0.5.0

Affected Resource(s)
resource_akamai_dns_record

Terraform Configuration Files
N/A

Expected
<order> <preference> <flagsnaptr> <service> <regexp> <replacement>

Actual
<order> <preference> <flagsnaptr> <regexp> <replacement> <service>

Steps to Reproduce
N/A

Important Factoids
N/A

References
N/A

[2020-04-08 14:14] edglynes opened #131 "Inverted Parameters - DNS Record Type NSEC3"
Terraform Version
Terraform: 0.12.24
Provider: v0.5.0

Affected Resource(s)
resource_akamai_dns_record

Terraform Configuration Files
N/A

Expected
<algorithm> <flags> <iterations> <salt> <nextHashedOwnerName> <typeBitmaps>

Actual
<flags> <algorithm> <iterations> <salt> <nextHashedOwnerName> <typeBitmaps>

Steps to Reproduce
N/A

Important Factoids
N/A

References
N/A

[2020-04-08 14:19] edglynes opened #132 "Inverted Parameters - DNS Record Type NSEC3PARAM"
Terraform Version
Terraform: 0.12.24
Provider: v0.5.0

Affected Resource(s)
resource_akamai_dns_record

Terraform Configuration Files
N/A

Expected
<algorithm> <flags> <iterations> <salt>

Actual
<flags> <algorithm> <iterations> <salt>

Steps to Reproduce
N/A

Important Factoids
N/A

References
N/A

[2020-04-08 14:42] edglynes opened #133 "Inverted Parameters - DNS Record Type RRSIG"
Terraform Version
Terraform: 0.12.24
Provider: v0.5.0

Affected Resource(s)
resource_akamai_dns_record

Terraform Configuration Files
N/A

Expected
<typeCovered> <algorithm> <labels> <originalTTL> <expiration> <inception> <keytag> <signer> <signature>

Actual
<typeCovered> <algorithm> <labels> <originalTTL> <expiration> <inception> <signature> <signer> <keytag>

Steps to Reproduce
N/A

Important F

[2020-04-08 15:11] edglynes opened #134 "Inverted Parameters - DNS Record Type DS"
Terraform Version
Terraform: 0.12.24
Provider: v0.5.0

Affected Resource(s)
resource_akamai_dns_record

Terraform Configuration Files
N/A

Expected
<keytag> <algorithm> <digestType> <digest>

Actual
<keytag> <digestType> <algorithm>  <digest>

Steps to Reproduce
N/A

Important Factoids
N/A

[2020-04-10 14:59] t-readyroc opened #135 "akamai_gtm_property default_datacenter block type not expected here"
### Terraform Version
Terraform v0.12.24
+ provider.akamai v0.5.0

### Affected Resource(s)
- akamai_gtm_property

### Terraform Configuration Files
[code]

### Debug Output
Error: Unsupported block type

  on geo_properties.tf line 18, in resource "akamai_gtm_property" "endpt":
  18:     default_datacenter {

Blocks of type "default_datacenter" are not expected here.

### Expected Behavior
Accord

[2020-04-13 20:11] edglynes commented on #135
default_datacenter is not a valid gtm property resource config block. See https://www.terraform.io/docs/providers/akamai/r/gtm_property.html.

default_datacenter is part of a geographic map resource config, https://www.terraform.io/docs/providers/akamai/r/gtm_geomap.html
Also note that the Akamai provider now requires TF 1.13.

[2020-04-16 12:38] edglynes opened #137 "DXE-2449 TXT Record RData containing embedded quotes not handled correctly"
### Terraform Version
v0.12.20
Akamai provider

### Affected Resource(s)
akamai_dns_record

### Terraform Configuration Files
[code]
### Expected Behavior
Correct RData value should be set in EdgeDNS thru API

### Actual Behavior
EdgeDNS mangles the value, inserting a space in the string, "\"He\" \"ll\"o"
Subsequest Read/Refresh will retrieve this mangled data.

### Steps to Reproduce
Please list

[2020-04-23 06:43] hitsumabushi opened #138 "Document issue: invalid argument documented about provier"
Hi, I found document issue.

In this document, `cps_section` argument exists.
https://github.com/terraform-providers/terraform-provider-akamai/blob/master/website/docs/index.html.markdown

But, with following provider settings, error occurs.

[code]

[code]

`cps_section` argument is not exist in provider.go.  (and there is `papi_section` argument.)
https://github.com/terraform-providers/terraform

[2020-04-23 14:29] ericrichtert opened #139 "Activation is executed, even without changes"
### Terraform Version
Terraform v0.12.24
 + provider.akamai v0.5.0
 + provider.aws v2.58.0
 + provider.template v2.1.2

### Affected Resource(s)
resource "akamai_property_activation" "tf-activate-staging" {
  property = akamai_property.tf-property-xxxx-yyy-nl.id
  network  = "STAGING"
  activate = true
  contact  = ["qwe@rty.uio"]
}

### Expected Behavior
When the terraform apply is executed and a

[2020-04-25 13:30] #45 closed

[2020-04-25 18:06] igorantunes1984 opened #141 "aws_wafregional_xss_match_set crashes terraform"
Hi,

When I try to create a XSS Match Condition on AWS using the aws_wafregional_xss_match_set Terraform always crashes.

### Terraform Version
Terraform v0.12.24
+ provider.aws v2.59.0

### Affected Resource(s)
aws_wafregional_xss_match_set

### Panic Output
2020-04-25T19:00:47.795+0100 [DEBUG] plugin.terraform-provider-aws_v2.59.0_x4: panic: interface conversion: interface {} is *schema.Set, not

[2020-04-27 13:02] edglynes opened #142 "DNS Destroy Record Instance Removes Entire Resource But Leaves Remaining Instances In State"
### Terraform Version

0.12.24

### Affected Resource(s)

akamai_dns_record

### Terraform Configuration Files
[code]

### Expected Behavior

Remove single Instance from TFState and Remote resorce

### Actual Behavior

Entire remote resource deleted. Remaining Instances still exist in TFState

### Steps to Reproduce

terraform destroy -target=akamai_dns_record.mx_record[1]

[2020-04-28 14:28] adriangrimshaw commented on #141
I have observed this exact isssue, using code identical to that applied previously (at that time aws provider v2.31.0).

I notice a slight different in syntax between:
1) `resource "aws_waf_xss_match_set"`  which has  **xss_match_tuples**
2) `resource "aws_wafregional_xss_match_set"`  which has  **xss_match_tuple**

In addition, since this code was last applied, AWS WAFv2 was implemented. All "WAF

[2020-04-29 09:27] adriangrimshaw commented on #141
Just found this has been resolved in AWS provider v2.60.0, here's the link to that update:
https://github.com/terraform-providers/terraform-provider-aws/issues/13014

I think this issue can be closed as a duplicate.

[2020-04-29 16:50] igorantunes1984 commented on #141
Hi,

Closing this issue as a duplicate as indicated by adriangrimshaw.

Thanks

[2020-04-29 16:50] #141 closed, assigned to nobody

[2020-05-02 14:44] jhoekstra commented on #77
The replacement of variables via terraform in the json file have been troublesome in the past, ie extending a rule to do more of the same thing comes to mind here. In my example that would be the ' ORIGINS' which behave the same way but differ on hostname match, origin-servers, certificates etc.
If I understand you correctly, there's currently no other way to provision this via terraform?

[2020-05-04 05:57] ericrichtert opened #146 "documentation is wrong"
On https://www.terraform.io/docs/providers/akamai/r/property_variables.html , is mentioned the arguments hidden and sensitive are optional, but the output of terraform apply shows:

Error: Missing required argument
   on main.tf line 13, in resource "akamai_property_variables" "useim":
   13:     variable {
 The argument "hidden" is required, but no definition was found.
 Error: Missing required a

[2020-05-05 09:33] dstevensson opened #147 "Newer provider versions give 404 on previously created properties"
### Terraform Version
Terraform v0.12.24
+ provider.akamai v0.5.0

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_property

### Expected Behavior
The property resource previously created by Terraform should continued to be recognized and found by the provider after updating provider version.

### Actual Behavior
The terraform provider gets a 404 API error when

[2020-05-05 14:02] martinstibbe commented on #147
If you open state file in an editor and remove sha value from ID it should correct this issue
prp_594335-be064acda67fd82da78d0433e9c8745253d8b346
becomes this ...
prp_594335

Save file and plan/apply should be ok

[2020-05-05 15:09] dstevensson commented on #147
Yep, that fixed it!
I had to remove the hash from both the property and the property activation. Since I use AWS DynamoDB for locks I also had to modify the digest key to match the md5 of the modified state file.
Thank you for the assistance @martinstibbe

[2020-05-05 15:09] #147 closed, assigned to nobody

[2020-05-12 20:38] edglynes opened #148 "Add Support for CERT, TLSA and CAA Record Types"
CERT, TLSA and CAA Record Types are not currently support in the Akamai-Terraform-Provider.

[2020-05-18 15:07] YaroslavJanrain opened #151 "Feature request - support of accountSwitchKey"
Hi there,

Please add `accountSwitchKey` support into akamai terraform provider
https://learn.akamai.com/en-us/learn_akamai/getting_started_with_akamai_developers/developer_tools/accountSwitch.html

I see it is mentioned in code here https://github.com/terraform-providers/terraform-provider-akamai/blob/706ec59f0870a0561ccd3960c55e174c7c41699a/akamai/resource_akamai_gtm_domain.go#L177
but looks lik

[2020-05-26 11:02] ericrichtert opened #154 "Error after upgrading to 0.7.0 regarding MX records"
After upgrading from provider version 0.5.0 to 0.7.0, we can't terraform plan the code anymore on a MX record.

Error:
Error: Recordset [xxxx.yyy MX]: Remote has diverged from TF Config. Manual intervention required.

### Terraform Version
λ terraform version
Terraform v0.12.24
+ provider.akamai v0.7.0
+ provider.aws v2.63.0

### Affected Resource(s)
Please list the resources as a list, for exampl

[2020-05-27 19:33] edglynes opened #155 "Error 422 on SOA Record Apply After Creating a Primary Zone"
Error 422 is returned when trying to do an Apply on a SOA record after creating a primary zone.

The background is that the Primary zone create also creates default SOA and NS records as part of the create. TF can not reconcile the serial number.

The corrective action is to import the SOA record. After which TF will reconcile.

Example config fragment:

resource "akamai_dns_zone" "example_com" {

[2020-05-27 19:41] edglynes commented on #154
The provider has correctly identified a mismatch between the existing record in Edgegrid and the local TF config. Because of the nature of MX record configuration options, it cannot be safely reconciled. Specifically,

"10 mx1.xxxx.yyy.eu.","10 mx2.xxxx.yyy." vs
  target = [
    "mx1."xxx.yyy"",
    "mx2."xxx.yyy""
  ]

There are several differences; embededed quotes and also the mx1 target name.

[2020-05-27 19:46] #134 closed, assigned to edglynes

[2020-05-27 19:47] #131 closed, assigned to edglynes

[2020-05-27 19:47] #125 closed, assigned to edglynes

[2020-05-27 23:18] #133 closed, assigned to edglynes

[2020-05-27 23:18] #127 closed, assigned to edglynes

[2020-05-27 23:19] #132 closed, assigned to edglynes

[2020-05-27 23:19] #130 closed, assigned to edglynes

[2020-05-27 23:20] #126 closed, assigned to edglynes

[2020-05-27 23:27] #148 closed, assigned to nobody

[2020-05-27 23:27] #53 closed, assigned to nobody

[2020-05-27 23:29] #69 closed, assigned to edglynes

[2020-05-27 23:30] #124 closed, assigned to edglynes

[2020-05-27 23:35] #138 closed, assigned to nobody

[2020-05-28 07:12] ericrichtert commented on #154
Well, I made some typos in hiding the real names.

But even when I delete _resource "akamai_dns_record" "mx__xxxx_yyy"_ from the tf files, the same error occurs.
And the current config is applied by the TF provider (0.5.0).

[2020-05-28 11:48] edglynes commented on #154
I need to see the EXACT configuration to reproduce.  You can send to me directly if thats better, elynes@akamai.com

Did you read the mx-record section in the Getting Started? Did it provide any clarity?

[2020-05-28 20:09] edglynes commented on #154
Eric - There should be another log line just above what you included above. It looks like

[DEBUG] [Akamai DNSv2] READ record JSON from bind records  ...

Can you provide that? Thx.

[2020-05-29 19:10] edglynes commented on #154
Confirmed bug. A computed field to track the record's current state, record_sha, was introduced in 0.7.0.  It is used to compare local TF resource state with remote. The issue is that for upgrades with existing state, that field defaults to zero.  Fix will be in the next release.

A workaround is to remove the resource from the current state and then do an import of the resource.

Corrective steps

[2020-06-01 01:05] Hoshiyar0703 commented on #66
I got the following product json from control panel and it states that product id for ion media advanced should be "rm".  I have now tried with prd_rm and rm , getting same error.

[prod_list.txt](https://github.com/akamai/terraform-provider-akamai/files/4708825/prod_list.txt)

[2020-06-01 07:53] ericrichtert commented on #154
Good to hear to fixed this issue. When will the new version be released? I have 200+ domains to fix, so a fixed provider is easier for me

[2020-06-01 11:43] edglynes commented on #154
Should be this week. Maybe in the next day or two. Release process has already started.  What other record types do you have in your domains? They all behaved appropriately?

Thanks for taking the time to report that issue. We really appreciate it!

Ed

Sent from my iPad

On Jun 1, 2020, at 3:53 AM, ericrichtert <notifications@github.com> wrote:

﻿

Good to hear to fixed this issue. When will the

[2020-06-01 12:07] ericrichtert commented on #154
@edglynes
We found two other things:
1) "end_user_id" was filled at initial setup via de webui of akamai. The TF plan command showed the removal, so we added it to the akamai_dns_zone. I think the "end_user_id" is included in version 0.7.0.

2) AAAA records were in the short notation in our tf files. Let say "`1a00:d10:1234:5::22`". That gives an never ending change to "`1a00:0d10:1234:0005:0000:0

[2020-06-01 12:59] edglynes commented on #154
Do you mean the field end_customer_id in the zone resource? Yes, that was added in 0.7.0

Is the AAAA notation behavior a nuisance or significant issue?

[2020-06-02 10:36] ericrichtert commented on #154
The AAAA notation is nuisance, we will migratie these records in the next few weeks to CNAME or AKAMAICDN records

[2020-06-02 13:04] #154 closed, assigned to nobody

[2020-06-02 19:41] martinstibbe commented on #139
@ericrichtert Does this issue still persist as we had made some changes to property activation in recent releases

[2020-06-03 08:42] ericrichtert commented on #139
I did the test again with these versions:
Terraform v0.12.26
 + provider.akamai v0.7.1
 + provider.aws v2.64.0
 + provider.template v2.1.2

still the same error:
akamai_property_activation.tf-activate-production: Modifications complete after 2s [id=atv_8553312]
 Error: API Error: 422 Property version already activated Version 10 of property `prp_xxxxxx` has already been activated. More Info https:

[2020-06-03 09:07] ericrichtert commented on #139
It seems like the staging activation is not added to the tfstate file.

[2020-06-03 16:09] Hoshiyar0703 commented on #66
issue is fixed if we wuse prd_RM for ion media advanced.

[2020-06-04 13:54] martinstibbe commented on #139
@ericrichtert I did a property create then a couple of back to back activations
akamai_property_activation.dshafik_sandbox: Creation complete after 4m39s [id=atv_8558455]
Apply complete! Resources: 1 added, 0 changed, 0 destroyed.

Second apply did an update without changing anything

        property = "prp_625352"
        status   = "ACTIVE"
      - version  = 1 -> null
    }

Plan: 0 to add, 1

[2020-06-04 20:37] hanburger97 opened #159 "Error: "rules" contains an invalid JSON; while referencing akamai_cp_code in template_file"
Hi there 👋

### TLDR;
Unable to `apply` tf configuration with a dynamically resolved cp code reference to akamai_cp_code resource inside a template file for JSON rules, despite being able to run successful plan.

### Context

We are trying to configure our akamai property in a way that will not require hard-coded cp code, therefore, we are using a reference to the akamai_cp_code resource inside ou

[2020-06-08 22:44] martinstibbe commented on #159
@hanburger97 Can you please replicate same issue using latest version of provider v0.7.1
As there have been many changes in provider around properties/rules
I will review similar configuration in the latest version as well

[2020-06-09 20:33] #52 closed, assigned to nobody

[2020-06-09 20:34] martinstibbe commented on #12
Documentation and examples have been updated with latest snippets library

[2020-06-09 20:34] #12 closed, assigned to nobody

[2020-06-10 01:54] martinstibbe commented on #139
@ericrichtert would you have a sanitized version of rules / property terraform file I could use to replicate this issue  ?

Thanks

[2020-06-10 01:57] #11 closed, assigned to nobody

[2020-06-10 10:18] ynohat commented on #55
I'd suggest including in this scope:

* property notes
* version notes (as OP requested)
* activation notes

[2020-06-10 13:32] hanburger97 commented on #159
@martinstibbe yes the same issue is replicated with v0.7.1

[2020-06-10 17:32] martinstibbe commented on #159
Sam from Akamai had tried this change to add quotes in json file around variable
"id": "${cpcode_id}"
in rules.json and I verified it shows up in state file rendered properly

template  \"id\": \"${cpcode_id}\"\n
rendered  \"id\": \"cpc_860373\"\n

[2020-06-12 15:55] martinstibbe commented on #76
@jhoekstra If you switch from using HCL based rules tree to a json file based approach like snippets concept you can pass this parameter with quotes and it processes normally the use of external file of rules

{"name":"cacheRedirect","options":{"enabled":"true"}},

data "template_file" "rules" {
 template = file("${path.module}/rules.json")
}

and reference in property resource as a datasource

ru

[2020-06-15 00:17] wonboyn opened #161 "Environment variable resolution"
### Terraform Version
0.12.26

### Affected Resource(s)
- property
- edge host

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/wonboyn/5e60bc057f23e132ddddd26900e069a0

### Expected Behavior
Shell environment variables set as TF_VAR_akamai_host / TF_VAR_access_token etc get resolved and used by the provider rather than being treated as literals.

### Actual Beha

[2020-06-15 12:21] martinstibbe commented on #161
@wonboyn I will check out the TF_VAR_ variable approach to see what the issue is
If you want to use ENV vars to drive provider block another option is to use (see below)

According to documentation and code in provider.go line #39 as and example
Env var it is looking for is prefixed with AKAMAI_
if v := os.Getenv("AKAMAI_" + section + "_HOST");

[2020-06-15 17:08] ericrichtert commented on #161
@wonboyn I think you have to remove the " chars. I have the same approach:

  version = "= 0.7.2"
  property {
    # The akamai vars are injected by gitlab as TF_VAR_ envvars
    host          = var.akamai_host
    access_token  = var.akamai_access_token
    client_token  = var.akamai_client_token
    client_secret = var.akamai_client_secret
  }
}

[2020-06-15 17:12] martinstibbe commented on #161
@wonboyn @ericrichtert Thanks Eric in TF .12 it should work without quotes to expand the variable values

[2020-06-15 22:27] wonboyn commented on #161
@ericrichtert - Thanks for the tip about the quotes. I must still be doing something slightly wrong as I am still getting the same error.

The provider configuration now looks like:
provider "akamai" {
    property {
      host          = var.akamai_host
      access_token  = var.akamai_access_token
      client_token  = var.akamai_client_token
      client_secret = var.akamai_client_secret
    }

[2020-06-15 22:56] martinstibbe commented on #161
@wonboyn I added a vars file with blank placeholders and the Env vars worked to connect the provider

variable "akamai_host" {
}

variable "access_token" {
}

variable "client_token" {
}

variable "client_secret" {
}

[2020-06-15 23:33] wonboyn commented on #161
Thanks @martinstibbe - that fixed the issue.

One further related question. I'm using environment variables to pass in the origin & edge host names:

resource "akamai_property" "property" {
  contract  = "data.akamai_contract.contract.id"
  group     = "data.akamai_group.group.id"
  name      = var.property_name
  contact   = ["someone@somewhere.com"]
  product   = "prd_SPM"
  hostnames = {

[2020-06-16 15:29] martinstibbe commented on #161
@wonboyn This parameter is a map not supported via env vars according to https://learn.hashicorp.com/terraform/getting-started/variables.html

Note: Environment variables can only populate string-type variables. List and map type variables must be populated via one of the other mechanisms.
Structure example

variable "hostnames" {
  type = "map"
  default = {
    "edge_hostname_origin" = "edgehost

[2020-06-17 12:35] YaroslavJanrain commented on #151
Duplicate https://github.com/terraform-providers/terraform-provider-akamai/issues/115

[2020-06-17 12:35] #151 closed, assigned to nobody

[2020-06-19 12:39] TristanBaoui opened #163 "Error 401 [Signature does not match] during SOA creation after new zone creation"
### Terraform Version
Terraform v0.12.24
+ provider.akamai v0.7.2

### Affected Resource(s)
- akamai_dns_zone

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/TristanBaoui/94339262aa1a70f72f01473c455af7e9

### Expected Behavior
Zone + SOA should

[2020-06-20 17:30] ericrichtert commented on #161
You can do it like this:

resource "akamai_property" "property" {
contract = data.akamai_contract.contract.id  # ->> remove the "
group = data.akamai_group.group.id  # ->> remove the "
name = var.property_name
contact = ["someone@somewhere.com"]
product = "prd_SPM"
hostnames = {
"${var.edge_hostname_origin}" = var.edge_hostname_akamai
}
}

[2020-06-20 17:31] ericrichtert commented on #139
I'll try to reproduce in a simple example.

[2020-06-20 23:10] wonboyn commented on #161
Thanks @ericrichtert
That worked.

[2020-06-20 23:10] #161 closed, assigned to nobody

[2020-06-25 05:53] favroom opened #165 "SRV record priority value of 0 not allowed"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2020-06-29 14:43] roymartinezblanco opened #166 "Ignored TOP level Fields from Rule File "customOverride""
Hi there,

I have an issue when issuing "customOverrides" with the provider, it seems to ignore TOP level fields like "customOverride" and does not update configurations but also removes it if already present.

### Terraform Version
Terraform v0.12.19
+ provider.akamai v0.7.2
+ provider.local v1.4.0
+ provider.template v2.1.2

### Affected Resource(s)
- resource "akamai_property"

### Terraform Co

[2020-06-29 14:46] ynohat commented on #55
Also see #166

[2020-06-29 20:21] martinstibbe commented on #166
@roymartinezblanco Can you supply additional detail on custom override that this is being applied against ? Would you have a sanitized rules.json that we could use to explore this issue ?
Thanks

[2020-06-29 21:03] roymartinezblanco commented on #166
Hi @martinstibbe , sure I can provide the rules.json and any additional detail you need.

The custom Override is applied at the end of all rules and lives outside of the rule field on the json file

[code]

[2020-07-04 12:57] ericrichtert commented on #139
@martinstibbe How can I get the right example to you, without giving to much details on the internet? I'm trying to reproduce this, but don't want to publish our contract/ssl/group details.

[2020-07-04 13:53] ericrichtert commented on #139
**Version information:**
λ terraform version
Terraform v0.12.26
+ provider.akamai v0.7.2

**First tf apply:**
λ terraform apply -auto-approve
akamai_property.tf-property-gh139: Refreshing state... [id=prp_xxxxx]
akamai_edge_hostname.tf-edgehost-gh139: Creating...
akamai_property.tf-property-gh139: Modifying... [id=prp_xxxxx]
akamai_edge_hostname.tf-edgehost-gh139: Creation complete after 3s [id=eh

[2020-07-07 12:46] roymartinezblanco commented on #166
any update?

[2020-07-07 13:19] martinstibbe commented on #166
@roymartinezblanco Thank you for example file trying to recreate scenario here

[2020-07-07 19:20] martinstibbe commented on #166
@roymartinezblanco I see the payload sent to API the override is not passed along downstream will locate where it gets ommitted

[2020-07-10 07:27] tommywo opened #168 "Cannot find group when there are groups with the same name under multiple contract."
### Terraform Version
Terraform v0.12.28

### Affected Resource(s)
Please list the resources as a list, for example:
- data_property_akamai_group

Fix in pull request #94 is waiting to be merged.

[2020-07-13 14:14] martinstibbe commented on #139
@ericrichtert I am checking with Akamai internal team on this one as simultaneous Stage and Prod activations was an issue in the past I encountered with another customer

[2020-07-13 19:06] martinstibbe commented on #168
@tommywo Merged to master

[2020-07-13 20:24] #163 closed, assigned to nobody

[2020-07-13 20:24] #165 closed, assigned to nobody

[2020-07-14 14:21] martinstibbe commented on #168
@tommywo This should be in new release 0.8.0

[2020-07-14 14:22] martinstibbe commented on #146
Merged to master

[2020-07-15 17:08] martinstibbe commented on #168
@tommywo This has introduced a bug in the use case where contract not specified using search by name

[2020-07-15 20:15] martinstibbe commented on #168
@tommywo Added some additional default logic https://github.com/terraform-providers/terraform-provider-akamai/pull/170

[2020-07-17 09:52] tommywo commented on #168
@martinstibbe I made an alternative pull request to fix this, but now I'm wondering if it wouldn't be better to just make contract a required field. What do you think?

[2020-07-17 12:48] roymartinezblanco commented on #166
hi @martinstibbe , would you be able to provide a ETA?

[2020-07-21 08:27] mayaaravotwm commented on #87
Hey, happens to me too in v0.8.0

[2020-07-22 15:49] roymartinezblanco opened #172 "Error: property is still active"
Hi there,

I have an issue when applying my TF from what I've been able to test/replicate if a TF apply fails in the process of activating a config (for example missing the tag `normalize` using current `latest`) it keeps this state. If we update/fix whatever caused the error it keeps thinking its activating and gives the error:

[code]

Clearing the TF State takes care of this and allows the proc

[2020-07-22 21:13] EmmanuelMaduwuba opened #173 "Error: rpc error: code = Unavailable desc = transport is closing"
Hi there,
I have an issue when trying to create  a new GTM property in an existing domain.

### Terraform Version.
$ terraform --version
Terraform v0.12.29
+ provider.akamai v0.8.0

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_GTM_property

### Debug Output
https://gist.github.com/EmmanuelMaduwuba/1472532b7d76bf0a1a730b6634519a91

### Panic Output
If Terrafor

[2020-07-23 14:36] roymartinezblanco commented on #173
I see this too

[2020-07-23 16:45] EmmanuelMaduwuba commented on #173
Hi Lukasz,

I applied the work-around and it worked for me, looking forward to more updates.

Thanks,
Emmanuel

[2020-07-24 14:26] martinstibbe commented on #172
@roymartinezblanco I will try to replicate this assuming general flow is trying to activate a ruleset that would fail so activation technically should not attempt to run to avoid this result in state file

[2020-07-24 14:28] martinstibbe commented on #139
@ericrichtert PR for branch AT-41 has a fix for this in QA for testing

[2020-07-27 00:22] rezagh commented on #173
@EmmanuelMaduwuba which workaround?

[2020-07-27 07:24] lkowalsk-akamai-com commented on #173
Hi, the workaround is about adding contractID to groups data source. There has been a bug introduced in 0.8.0 which makes this field required.

[2020-07-28 13:27] roymartinezblanco commented on #172
@martinstibbe , this also happens if I apply a plan with where nothing changes. I assume it tries to activate something and then thinks it's activating even if it didn't really activate a version

[2020-07-29 00:22] martinstibbe commented on #87
@mayaaravotwm We had a bug introduced around group datasource(duplicate group names making contract parameter mandatory ) that can create same RPC disconnection error
Can you validate that your group resource does not crash the apply with a panic / rpc disconnection issue ?

[2020-07-29 09:05] mayaaravotwm commented on #87
hey @martinstibbe ,
since v0.5.0 we have unrelated changes shown as in [https://github.com/terraform-providers/terraform-provider-akamai/issues/89].

so i tried to upgrade to v0.8.0 in order to see if it was fixed and then I got - Error: rpc error: code = Unavailable desc = transport is closing

my data resources:

[code]

my terraform output:
[code]

[2020-07-29 09:38] siwyd opened #174 "Property changed without any actual changes (related to edge hostnames)"
### Terraform Version
Terraform v0.12.28
Akamai v0.8.0

### Affected Resource(s)
- akamai_property

### Terraform Configuration Files
[code]

### Expected Behavior
No changes should be made.

### Actual Behavior
Despite no rule or hostname changes, Terraform reports this 'change' in the property config:

`+ edge_hostnames     = (known after apply)`

It only wants to change the property (not the ac

[2020-07-29 09:46] siwyd commented on #174
The property that is idempotent has 'edge_hostnames' map in the TF state. I've checked the state for the non-idempotent properties and there the edge_hostnames map are effectively missing.

[2020-07-29 11:51] siwyd commented on #174
So I managed to work around this problem for now by manually changing edge_hostnames in the TF state from 'null' to the same map in hostnames.

[2020-07-29 16:06] zstlaw commented on #174
@siwyd Thank you for your diligent analysis.  We had noticed the problem and hoped to analyze and fix.  Your work here helped accelerate this process by giving us exactly the information we needed to reproduce the issue and test any fix.

[2020-07-29 18:03] siwyd commented on #174
@zstlaw Thanks for the reply. With regards to my initial problem of creating a property with a Site Failover behavior, should I create a seperate issue for that?

[2020-07-29 19:53] zstlaw commented on #174
Yes please.  Keeping issues separate helps others with the same issue find and identify workarounds as well as makes it easier to assign work to individual developers.

[2020-07-30 07:54] siwyd opened #175 "Rules validation error during property creation with failAction behavior"
### Terraform Version
Terraform v0.12.28
Akamai v0.8.0

### Affected Resource(s)
- akamai_property

### Terraform Configuration Files
Reproducible with a site failover behavior like this:
[code]

### Expected Behavior
Property should be created.

### Actual Behavior
`foobar.failover.company.invalid` is defined in the edge hostnames, but during property creation I got a rules validation error stati

[2020-07-30 08:20] siwyd opened #176 "Error: Provider produced inconsistent final plan when changing the contact email address"
### Terraform Version
Terraform v0.12.28
Akamai v0.8.0

### Affected Resource(s)
- akamai_property
- akamai_property_activation

### Terraform Configuration Files
Happened to me when the only change was changing the contact on both the property and property activation.

### Expected Behavior
Apply should not fail.

### Actual Behavior
The plan works but the apply fails:

[code]

### Important Fact

[2020-07-31 11:07] ericrichtert commented on #146
is released

[2020-07-31 11:07] #146 closed, assigned to nobody

[2020-07-31 11:12] ericrichtert commented on #139
@martinstibbe my testcase is running fine for now. I will do some testing in our realenvironment.

[2020-07-31 12:11] siwyd commented on #176
I only just got this behavior when changing an activation from STAGING to PRODUCTION:
[code]

[2020-07-31 14:57] martinstibbe commented on #168
@tommywo This is in release 0.8.1 for your review published yesterday feel free to test close issue if solved thanks

[2020-08-04 10:01] jellevanhees opened #178 "unable to create property because terraform says product isn't set"
### Terraform Version
Terraform v0.12.24
+ provider.akamai v0.7.2
+ provider.akamai v0.8.1
+ provider.akamai v0.8.0

### Affected Resource(s)
akamai_property

when running apply on the following config terraform says it needs the product id while the product id is set explicitly and is optional according to the docs
### Terraform Configuration Files
[code]

### Panic Output

Error: product must be

[2020-08-05 03:16] martinstibbe commented on #172
@roymartinezblanco can you send me rules file you are using if I have errors it refuses to activate/save

[2020-08-05 11:21] ericrichtert commented on #139
Still an error:
Error: Post "https://akab-XXXXX.luna.akamaiapis.net/papi/v1/properties/prp_YYYY/activations?contractId=ctr_C-UUUUU&groupId=grp_PPPP": EOF
   on main.tf line 27, in resource "akamai_property_activation" "tf-activate-production":
   27: resource "akamai_property_activation" "tf-activate-production" {

[2020-08-05 15:13] martinstibbe commented on #139
@ericrichtert Do you have more detail on error message could you set export TF_LOG=DEBUG export TF_LOG_PATH=somefilename.log run this apply again and E-mail me the log file to martin@akava.io

[2020-08-06 17:59] martinstibbe commented on #174
@siwyd Would you have a sanitized akamai-rules.json.tpl available to replicate this issue ?

[2020-08-06 18:13] martinstibbe commented on #178
@jellevanhees akamai In console GUI PAPI-Use-Prefixes property-manager set-prefixes <true/false> if you toggle this value it may help with this issue

[2020-08-06 18:26] siwyd commented on #174
@martinstibbe I'm on holidays now, so I can't get to that until a few weeks from now. I think for this issue though, the rules don't really matter all that much. I think the main problem was that the edge hostnames were added manually to the property and the provider doesn't add the edge hostnames to the state unless it creates or updates them.

[2020-08-06 21:56] aetorresdev opened #179 "Error during Terraform Apply, tfstate too large"
Hi there,

During `terraform apply` execution I'm facing next error message

[code]
Seems to be related to the tfstate file size.

I'm using S3 as backend with DynamoDB to lock the tfstate file.

The goal is to update an Akamai property passing the json rules as a file, the rules file is 2Mb.

[code]

### Expected Behavior
Execute the `terraform apply` without errors

### Actual Behavior
`terrafor

[2020-08-07 14:51] martinstibbe commented on #179
@andrestorresGL Just to isolate storage backend RPC payload can you run apply storing state locally as a test ?

[2020-08-10 16:31] roymartinezblanco commented on #172
@martinstibbe, sure
[rules-copy.json.zip](https://github.com/terraform-providers/terraform-provider-akamai/files/5052112/rules-copy.json.zip)

[2020-08-10 23:09] aetorresdev commented on #179
I had to reduce the number of rules and hostnames created using TF, I tested it locally without errors generating a `tfstate` file of 4.2Mb and a `rules.json` file of 1.6Mb

I'll be adding new rules and hostnames to test it locally with a tfstate file bigger than 4.5Mb

[2020-08-12 14:14] martinstibbe commented on #172
@roymartinezblanco I got a bit further thanks which product did you use for cp code I am using prd_SPM which is incompatible

[2020-08-12 17:24] aetorresdev commented on #179
Hi @martinstibbe I was able to execute `terraform apply` locally you could say that the issue is related to the backend RPC

[code]

[2020-08-17 13:51] mayaaravotwm opened #180 "Property changes to null and other values every run without any actual changes"
Property changed without any actual changes every build since v0.5.0

### Terraform Version
Terraform v0.12.25
Akamai v0.7.2

### Affected Resource(s)
- akamai_property
- akamai_property_activation

### Terraform Configuration Files
[code]

### Debug Output
[https://gist.github.com/mayaaravotwm/3b035efab591b19d590ad502f5d526c4](url)

### Expected Behavior
Not change those parameters every run

###

[2020-08-18 09:05] jellevanhees commented on #178
@martinstibbe I don know what you mean exactly but i have tried both with the prefix
product = "prd_Site_Accel"
and without the prefix
product = "Site_Accel"

[2020-08-18 13:59] martinstibbe commented on #178
@jellevanhees Actually this setting is in Luna web portal I will try to locate documentation link that shows this setting

[2020-08-18 21:18] javiergarza commented on #178
The product ID (productId) can be retrieve by running a couple of API calls like (I am using HTTPie):

1) List contracts:
http -A edgegrid -a devrel-admin: -b :/papi/v1/contracts
[code]

2) List products on a given contract:
http -A edgegrid -a devrel-admin: -b ":/papi/v1/products?contractId=ctr_C-1FRYVV3"
[code]

[2020-08-19 06:27] jellevanhees commented on #178
I solved the issue.

The product was indeed correct and it was set correctly.
after setting both the group and the contract it worked.
So the error indicated that the product was not set but setting the group and contract solved it.

thanks for all the feedback

[2020-08-19 17:22] martinstibbe commented on #180
@mayaaravotwm Thanks for reopening ticket I was able to locate source of difference coming up in rules will push through a fix in a release
Also ...

behavior {
      name = "tieredDistribution"
      option {
        key   = "enabled"
        value = true
      }
    }

 I get an error applying this rule

Rule validation error: https://problems.luna.akamaiapis.net/papi/v0/validation/attribute_req

[2020-08-20 13:20] mayaaravotwm commented on #180
Hey thanks for your help!
I actually don't know because it works for us.
When will the release be?

[2020-08-20 16:11] aetorresdev commented on #179
Is there any update with this issue?

[2020-08-20 19:41] martinstibbe commented on #179
@andrestorresGL This would be an issue that would need to be logged with s3 backend provider
Similar issues ... etcd and S3 storage hit those as well

https://github.com/hashicorp/terraform/issues/25745
https://github.com/hashicorp/terraform/issues/20328

[2020-08-21 14:44] martinstibbe commented on #172
@roymartinezblanco Github location moved just looking for product id you used to test out the whole flow of this property

[2020-08-26 15:02] doc82 commented on #173
I'm getting this error with the above, using terraform v0.13.0:

`data "akamai_group" "default" {
  contract = data.akamai_contract.default.id
  name     = var.group_name
}`

module.dns_cdn_stack.module.cdn_akamai.data.akamai_group.default: Refreshing state...
Error: rpc error: code = Unavailable desc = transport is closing

[2020-08-31 13:13] martinstibbe commented on #178
@jellevanhees Please feel free to close ticket if you find everything solved around this issue
Thanks

[2020-08-31 14:45] martinstibbe commented on #174
@siwyd Just checking in on this issue would like to get rules template as hostnames merge is working for my test case

[2020-09-01 06:05] #178 closed, assigned to nobody

[2020-09-10 01:27] mohammadkandy opened #182 "contract ID no longer obtainable with latest provider"
### Terraform Version
* Terraform v0.12.20
* provider.akamai 0.9.1

### Affected Resource(s)
* data.akamai_contract.default
* data.akamai_group.group

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Terraform plan successfully executes

### Actual Behavior
Not finding contract ID

### Steps to Reproduce
- terraform init
- terraform plan

### Important Facto

[2020-09-11 17:27] zstlaw commented on #182
We were having issues with users with multiple contracts and groups since it is possible to have multiple groups with the same name.  We are migrating to making contract required field.  Can you try

[code]

This will ensure that the contract is loaded for the specified group and the group is the one associated with the contract.
We are hoping to have better datasources for listing groups and cont

[2020-09-11 17:32] zstlaw commented on #182
We are currently working on updating the documentation.

[2020-09-14 09:48] mayaaravotwm commented on #180
hey, is there a update?

[2020-09-14 09:54] lkowalsk-akamai-com commented on #180
Hi @mayaaravotwm , the fix is still being evaluated and waiting for inclusion. This takes that long as we are in the middle of bigger restructure of the provider. If all goes smoothly, the fix should be included in next release. I do not want to commit to any dates, but it should be ready within coming weeks.

[2020-09-18 21:39] joel-g opened #183 "provider doesn't recognize papi_section argument"
### Terraform Version
12.5

### Affected Resource(s)
Please list the resources as a list, for example:
- opc_instance
- opc_storage_volume

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Expected Behavior
Should complain that I have not filled out the cp_code required arguments yet

[2020-09-22 13:16] martinstibbe commented on #183
@joel-g https://github.com/akamai/terraform-provider-akamai/blob/master/CHANGELOG.md
Has some details on deprecated settings

[2020-09-24 20:36] joel-g commented on #183
Deprecated settings? @martinstibbe I'm following the most current version of the docs: https://registry.terraform.io/providers/akamai/akamai/latest/docs

it does the same thing for `property_section`:
![image](https://user-images.githubusercontent.com/26105158/94198988-fb0bd080-fe6c-11ea-804a-2c9903ca1584.png)

[2020-09-28 20:45] mohammadkandy commented on #182
@zstlaw Apologies for delayed response.

I can confirm after updating to above snippet the issue is resolved with latest provider version. Thank you kindly for this.

[2020-09-29 13:56] martinstibbe commented on #183
@joel-g could you try something like this ...

provider "akamai" {
  edgerc = "~/.edgerc"
  alias = "papi"
}

[2020-10-01 16:04] #182 closed, assigned to nobody

[2020-10-05 15:33] sagardeo2105 opened #184 "Product: prd_SPM does not work"
Hi,
I am trying to create a property in akamai using terraform.
It keeps failing with below error code:
**Error: Unable to find product: "prd_SPM"**

Based on the documentation, I believe this is the default value for Ion

### Affected Resource(s)
Akmai Property creation.

provider "akamai" {
  edgerc = "~/.edgerc"
}

resource "akamai_property" "test" {
  name = "akavadeveloper"

  contact = [""]

[2020-10-20 20:02] zstlaw commented on #180
Wanted to give an update on this ticket.

There will be a 0.10 release this week but this issue was not contained in the 0.10 release.  This fix should be part of the 1.0.0 release where much of papi has been reworked to eliminate issues like this one.  The 1.0.0 release makes a lot of changes and it takes time for us to document them and the migration process properly.  We are testing to ensure t

[2020-10-20 20:07] webuniverseio commented on #180
Hi, sorry for question which is not directly related to this issue 🙇

I came here from google searching for "application/xmlfont/eot". I see that this configuration was added to my property configuration by Akamai support, and I see this content type mentioned here, also under compression.

I wonder if it is a typo which is copied by support teams from some kind of template and this is a combinati

[2020-10-22 06:36] csahli opened #186 "Error: Invalid Operation: [SOA record set is required for zone xxxxx.com ] during Primary DNS Zone creation using Terraform Akamai Provider."
Hi there,

I am not able to create an AKAMAI DNS Zone of type PRIMARY using the Terraform Akamai provider. I did a lot of different tests but I didn't succeed to have it working.
I am getting following error:

**Error: Invalid Operation: [SOA record set is required for zone xxxxx.com ] during Primary DNS Zone creation using Terraform Akamai Provider.**

### Terraform Version
Terraform v0.12.21
+ p

[2020-10-22 06:50] csahli commented on #186
I also faced the same issue reported here: https://github.com/akamai/terraform-provider-akamai/issues/163

[2020-10-25 11:01] ericrichtert opened #187 "Provider statement is missing edgerc"
After upgrading to provider v0.10.2, I get a warning and an error about the provider config:

[code]
According to https://github.com/akamai/terraform-provider-akamai/blob/master/docs/index.md , the edgerc section is optional.

As I dont have a edgerc file, I need to provide the API host/tokens via a different way
### Terraform Version
Terraform v0.13.4
+ provider registry.terraform.io/akamai/akama

[2020-11-09 18:21] amcfaddenQHR opened #188 "The Provided Etag is not the latest"
### Terraform Version
terraform v0.13.5

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_property

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/amcfaddenQHR/70fca4dfef02e019ab47c562a6ec40a0

### Panic Output

[2020-11-11 15:15] ssrirama-aka commented on #188
@amcfaddenQHR What version of the Akamai provider are you using?

[2020-11-11 19:47] dekimsey opened #189 "akamai_dns_record: targets ending with "." stripped, causing constant apply churn"
### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_dns_record
- aws_route53_zone

### Terraform Configuration Files
[code]

### Debug Output
not applicable

### Panic Output
not applicable

### Expected Behavior
Second apply should be a NOOP.

### Actual Behavior
The second apply seems to want to update the record because of akamai app

[2020-11-12 17:58] amcfaddenQHR commented on #188
We are running Akamai Provider version 0.10.2

[2020-11-12 21:41] ssrirama-aka commented on #188
@amcfaddenQHR We tested this with provider version 0.10.2. The steps we followed:

1. Terraform apply to create a property version
2. Edit and revise property directly in Akamai Control Center
3. Leave the Property Manager open in Akamai Control Center
4. Modify Terraform script and run Terraform apply

New version of property created, no errors encountered in Terraform.

Can you provide details o

[2020-11-12 22:55] amcfaddenQHR commented on #188
Created via Terraform version 1 staging/prod migrated over 4 "Property Hostnames" from a different property as the property7 was set to activate
Created via akamai as we re activated the hostnames on the original properties forcing version 2 staging/prod inactive as the above 4 "Property Hostnames" were migrated back as the host migration was and unexpected result
Created via web GUI version 3/4/5

[2020-11-13 21:46] amcfaddenQHR commented on #188
New debug  output
https://gist.github.com/amcfaddenQHR/c0bd94714e5e67eb6331a23fb205f568

[2020-11-16 12:56] Yuxael commented on #115
This does not work in version 0.10.0, please add this.

[2020-11-17 13:34] ahharu opened #190 "Import is broken"
akamai_property.aka_property: Refreshing state... [id=prp_663866]
2020-11-17T14:31:40.565+0100 [ERROR] plugin.terraform-provider-akamai_v0.9.1: [ERROR] setting state: contract: '' expected type 'string', got unconvertible type 'papi.Contract'
2020-11-17T14:31:40.565+0100 [ERROR] plugin.terraform-provider-akamai_v0.9.1: [ERROR] setting state: group: '' expected type 'string', got unconvertible type

[2020-11-17 14:54] p7s1-wolfgang-dworzak opened #191 "Failure while creating edge hostname with both IP behaviors enabled"
### Terraform Version
Terraform v0.13.5 (Akamai Provider 0.10.2)

### Affected Resource(s)
- akamai_edge_hostname

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/p7s1-wolfgang-dworzak/0e5cd40a5c2f15a7b4b9067e1ffb6e26

### Panic Output

### Expected Behavior
Edge hostname should be created with IPv4 and IPv6 enabled.

### Actual Behavior
Edge hostname was not cre

[2020-11-17 15:03] ssrirama-aka commented on #188
@amcfaddenQHR Thank you for the debug output. Our team was able to reproduce the 412 error executing these steps:

1. Create new property through terraform with a set of hostnames

2. Update the hostnames in Control Center UI and activate the version

3. Update the hostnames again through terraform this time and you will run into 412 error as the new version create will fail

We are working on fix

[2020-11-17 15:18] zstlaw commented on #191
We saw this issue last week and have been working on a fix for it already.

[2020-11-17 18:49] amcfaddenQHR commented on #188
Any idea on the turn around on this bug?  It is preventing us from moving forward on our own development.
Thanks

[2020-11-18 15:57] julidekadam opened #192 "Unrelated property changes are shown without any actual changes"
### Terraform Version

Terraform v0.13.5
+ provider registry.terraform.io/-/akamai v0.10.2
+ provider registry.terraform.io/akamai/akamai v0.10.2
+ provider registry.terraform.io/hashicorp/aws v3.15.0

### Affected Resource(s)
List the resources as a list, for example:
- akamai_gtm_property

### Terraform Configuration Files
[code]

### Debug Output

https://gist.github.com/julidegulen/6ab0b7415dd

[2020-11-19 13:56] 110hideki commented on #188
I had the same problem, and the workaround worked well. However, hope to fix the issue.

[2020-11-19 16:48] amcfaddenQHR commented on #188
Appreciate the heads up, thanks!

[2020-11-20 08:28] siwyd commented on #187
Confirmed, just wanted to upgrade from 0.9 to 0.11 and this prevents me from doing that.

[2020-11-23 16:50] amcfaddenQHR commented on #188
New provider version has resolved the issue, thank you.

[2020-11-23 16:50] #188 closed, assigned to nobody

[2020-11-26 11:16] TristanBaoui commented on #192
static_ttl is returned 'null' for this type of properties, so no [default value](https://github.com/akamai/terraform-provider-akamai/blob/25c506db3dcd64b505483807228e974b3870b9ff/pkg/providers/gtm/resource_akamai_gtm_property.go#L80) should be set in code  in order not to launch an update at every apply action.

A workaround for the time being is to set static_ttl = 0 in the resource parameters.
T

[2020-11-30 17:13] TristanBaoui opened #194 "Property with nested rules and empty behaviors are failing"
### Terraform Version
Terraform v0.13.5
+ provider registry.terraform.io/akamai/akamai v0.11.0
+ provider registry.terraform.io/hashicorp/local v2.0.0

### Affected Resource(s)
- resource "akamai_property"

### Terraform Configuration Files
[code]

### Debug Output
https://gist.github.com/TristanBaoui/4f985de02247e8bc1e6e14764fe2488e

### Expected Behavior
Rule tree to be updated

### Actual Behav

[2020-12-10 22:53] zstlaw commented on #191
This issue has been identified and fixed through release 1.0.0. Both ipv4, ipv6 boolean attributes have been removed and replaced with the ip_behavior argument To set both IPv4 and IPv6 behaviors, set the ip_behavior argument to IPV6_COMPLIANCE. For more details, review
https://registry.terraform.io/providers/akamai/akamai/latest/docs/resources/property_edge_hostname#ip_behavior.

[2020-12-10 22:53] #191 closed, assigned to nobody

[2020-12-10 22:55] zstlaw commented on #187
Thanks for reporting this issue. It has been fixed in the 1.0.0 release. you will need to use a section named config instead of property but otherwise this appears to work in 1.0.0 release posted today.

Please try upgrading to 1.0.0 and if you still face issues, Please let us know. Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for additional d

[2020-12-10 22:55] #187 closed, assigned to nobody

[2020-12-10 22:58] zstlaw commented on #180
Thanks for reporting this issue. It should have been fixed in the 1.0.0 release. Please try upgrading to 1.0.0 and if you still face issues, Please let us know. Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for additional details.

I can not personally answer the type question above but agree it looks like a concatenation error.

[2020-12-10 22:58] #180 closed, assigned to nobody

[2020-12-14 19:00] zstlaw commented on #190
Thanks for reporting this issue. Import functionality has been revamped in 1.0.0 release. Please upgrade to 1.0.0 and retry import. If you continue to encounter issues, please share more details of your configuration and the command you are using. The import section of the akamai_property resource documentation has more details: https://registry.terraform.io/providers/akamai/akamai/latest/docs/res

[2020-12-14 19:00] #190 closed, assigned to nobody

[2020-12-14 19:03] zstlaw commented on #184
Thanks for reporting this issue. This is probably an issue with API client access control grants and not a provider issue. Please work with Akamai support to review your API client configuration.

[2020-12-14 19:11] zstlaw commented on #183
Can you specify the version of Akamai provider you are using?  You can get that info by calling terraform init.

Example :
[code]

Also as others have noted `papi_section` has been deprecated in favor of the term `config_section`.  Both values should still work as of 1.0.0 but if you can give us more information on what version you are using we can help you better.

[2020-12-14 19:13] zstlaw commented on #179
This has been noted as an AWS S3 issue to be submitted to the S3 provider project. Closing this issue.

[2020-12-14 19:13] #179 closed, assigned to nobody

[2020-12-14 19:16] zstlaw commented on #176
Thanks for reporting this issue. We are not able to reproduce this issue with our latest release. With 1.0.0, provider code has been significantly revamped and many issues were addressed. Please try upgrading to 1.0.0 and if you still face issues, Please let us know.

Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for details relating to to 1.0.

[2020-12-14 19:16] #176 closed, assigned to nobody

[2020-12-14 19:18] zstlaw commented on #175
Thanks for reporting this issue. It was fixed in the 1.0.0 release. Rules are now being set after hostnames in the property resource. Please upgrade to 1.0.0. Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for additional details related to migration to 1.0.0 version of the provider.

If you encounter an issue with 1.0.0, testing your scenario, p

[2020-12-14 19:18] #175 closed, assigned to nobody

[2020-12-14 19:23] zstlaw commented on #174
Thanks for reporting this issue. Provider has been revamped in the 1.0.0 release. Please upgrade to 1.0.0 and retest your issue. Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for additional details.

If you encounter an issue with release 1.0.0 retesting your scenario, please submit a new issue.

Closing this issue.

[2020-12-14 19:23] #174 closed, assigned to nobody

[2020-12-14 19:25] zstlaw commented on #172
Thanks for reporting this issue. Provider has been revamped in the 1.0.0 release. Please try upgrading to 1.0.0 and re-run your scenario. Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for additional details.If you encountered a failure with 1.0.0 retesting your scenario, please submit a new issue.

[2020-12-14 19:25] #172 closed, assigned to nobody

[2020-12-14 19:28] zstlaw commented on #168
Thanks for reporting this issue. Please try upgrading to 1.0.0 and if you still face issues, Please let us know. Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for additional details.

[2020-12-14 19:28] #168 closed, assigned to nobody

[2020-12-14 19:32] zstlaw commented on #159
Closing this issue due to lack of response.

The provider has been revamped in the 1.0.0 release. A more consumable templating capability has been added. Please upgrade to 1.0.0. Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for additional details.

If you encountered an issue with 1.0.0, for your specific scenario, please submit a new issue.

[2020-12-14 19:32] #159 closed, assigned to nobody

[2020-12-14 19:35] zstlaw commented on #139
Closing this issue due to lack of response.

The provider has been revamped in the 1.0.0 release, including improvements to activation. Please upgrade to 1.0.0 Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for additional details.

If you encounter issues with the 1.0.0 release, and your particular scenario, please submit a new issue.

[2020-12-14 19:35] #139 closed, assigned to martinstibbe

[2020-12-14 19:37] zstlaw commented on #128
Thanks for creating this feature request.

In the 1.0.0 release, rule tree will be constructed from template files and the current data source “akamai_property_rules” will be used only to fetch rule tree from PAPI. The requested behavior will be achieved by utilizing the new “akamai_property_rules_template” json templating solution.

Please refer https://registry.terraform.io/providers/akamai/akam

[2020-12-14 19:37] #128 closed, assigned to nobody

[2020-12-14 19:39] zstlaw commented on #109
Thanks for reporting this issue. The documentation requested was added as part of the 1.0.0 release. https://registry.terraform.io/providers/akamai/akamai/latest/docs/resources/property_edge_hostname#import

We also recommend upgrading your Akamai Provider version to 1.0.0 as the provider has undergone design improvements. Please refer https://registry.terraform.io/providers/akamai/akamai/latest/d

[2020-12-14 19:39] #109 closed, assigned to nobody

[2020-12-14 19:40] zstlaw commented on #76
From 1.0.0 release, the rule tree will be constructed from template files. Rule format will also be honored as part of this change. Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for details on how to upgrade to this 1.0.0 version. We’re closing this issue. Please file a new issue if you encounter a failure with 1.0.0.

[2020-12-14 19:40] #76 closed, assigned to nobody

[2020-12-14 19:44] zstlaw commented on #5
Import support has been improved and is better documented in cp_code, edge_hostname, and property as part of the 1.0.0 release.

Please try upgrading to 1.0.0 and if you still face issues, Please let us know. Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for additional details.

[2020-12-14 19:44] #5 closed, assigned to nobody

[2020-12-14 19:45] zstlaw commented on #32
Issue was resolved.

[2020-12-14 19:45] #32 closed, assigned to nobody

[2020-12-14 19:51] zstlaw commented on #65
Some appsec resources were added as part of the 0.11 release.  We are now at 1.0.0.  Please refer https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/1.0_migration for additional details.

[2020-12-14 19:51] #65 closed, assigned to nobody

[2020-12-15 07:05] siwyd commented on #174
@martinstibbe @zstlaw Cheers, completely lost track of this, sorry about that. If I encounter this isse again, I'll resubmit.

[2020-12-17 15:40] carnei-ro opened #196 "[v1.0.0] resource_akamai_cp_code "product_id" is not expected here"
Following the pattern of other resources, I think `resource_akamai_cp_code` should also deprecate `product` and use `product_id`, but this is not the case. In version `v1.0.0` we have `contract_id`, `group_id` but no `product_id`, fall backing to "old" `product`.

[2020-12-17 20:58] carnei-ro opened #198 "[v1.0.0] Passing CP Code ID to akamai_property results in crash"
with provider 0.11.0 I could create a CP Code and then use the id as variable for `templatefile` function to my `akamai_property` rules.

[code]

[2020-12-18 12:58] carnei-ro commented on #198
Ok, reading the `crash.log` and doing some experimentations the root cause is at `StateFunc` of `rules` in the schema map. It tries to `compactJSON` even then the string is not a Json yet. I'm opening a Pull Request with the validation.

[2020-12-18 13:24] carnei-ro commented on #198
https://github.com/akamai/terraform-provider-akamai/pull/199

[2020-12-22 16:47] carnei-ro commented on #196
https://github.com/akamai/terraform-provider-akamai/pull/197

[2021-01-13 07:43] alxboulanger opened #203 "property_id not expected in resource "akamai_property""
Hello,

I am currently moving several working 0.9.3 configurations to 1.0.0, following the migration guide, but it seems that exiting properties cannot be imported the way they should be, for instance by entering a property_id.
See terraform output below

Looking at the source code, the _resourceProperty_ has no property_id in its schema

Not setting this property_id would result in leaving the ak

[2021-01-13 15:26] alxboulanger commented on #203
Hey,

So, this was a mistake, I get confused while reading the migration guide, after many attributes renaming I though this attribute had to be added.

Indeed, _akamai_property_ does not need a property_id in Terraform config, but it does in its state file by runnning a
`terraform import akamai_property.my_amd_property prp_123456`

that would correct and fill the property_id (if missing in state

[2021-01-13 15:26] #203 closed, assigned to nobody

[2021-01-17 18:59] ericrichtert commented on #194
Is this issue solved in the latest version?

[2021-01-19 18:40] ojesvi opened #206 "rpc error : code = Unavailable desc = transport is closing"
Hello,
I am trying to run terraform apply and getting this error.

Terraform version on image:
terraform --version
Terraform v0.14.2
+ provider registry.terraform.io/akamai/akamai v1.0.0
+ provider registry.terraform.io/alxrem/jsonnet v1.0.1
+ provider registry.terraform.io/hashicorp/local v2.0.0

debug output / crash log: https://gist.github.com/ojesvi/cb65d8a3f153ce0b9319a925e8232e2f

Steps to R

[2021-01-19 19:01] ssrirama-aka commented on #206
@ojesvi Does your Terraform configuration use the akamai_property_rules_template data source available starting release 1.0.0?

[2021-01-19 20:14] ojesvi commented on #206
@ssrirama-aka .No, I am using akamai_property_rules_template

[2021-01-19 20:26] ssrirama-aka commented on #206
Please share your akamai_property_rules_template data source configuration. If there is any sensitive information, please mask / sanitize it before posting.

[2021-01-19 21:05] ojesvi commented on #206
@ssrirama-aka  please check new files: https://gist.github.com/ojesvi/cb65d8a3f153ce0b9319a925e8232e2f

[2021-01-21 09:25] hitsumabushi commented on #194
In v1.2.0(current latest version), I got same error.

[2021-01-21 15:30] partamonov opened #207 "No import functionality for appsec resources"
Hi there,

I see that there is no import functionality for appsec resources

### Terraform Version
[code]

### Affected Resource(s)
multiple or all `appsec` resources

### Terraform Configuration Files
[code]

[code]

I also do not see import function in code repo, I checke 1.2.0 branch.

Do you plan to add it?

[2021-01-21 16:53] martinstibbe commented on #207
@partamonov Yes import feature being added to support import on resources in next release

[2021-01-21 19:29] carnei-ro opened #208 "Property version is not been update on the output"
### Expected Behavior
After modifying a property that was activated, it should create a new one and update the output "latest property"

### Actual Behavior
It creates a new property, but it does not change the "latest property" output. In the next terraform plan/apply the "latest property" output changes.

It was working in the past (provider < 1.0.0).
It is terrible because I can not "chain" an

[2021-01-21 21:02] carnei-ro commented on #208
"known after apply" is not showing on "plan / apply"

[2021-01-26 17:30] stack72 opened #209 "IAM (Sub)Provider"
Hi

Is there any reason why the new IAM sub provider isn't implemented like that of property or GTM? Basically, we use the go package to be able to scaffold the corresponding [Pulumi provider](https://github.com/pulumi/pulumi-akamai)

In the Pulumi code, we are able to get access to the providers using code similar to the following

[code]

But IAM doesn't follow a similar convention of using a Su

[2021-01-26 18:10] ynohat commented on #206
@ssrirama-aka hi, I took it upon myself to share the actual rule tree generated by the template in @ojesvi's [gist](https://gist.github.com/ojesvi/cb65d8a3f153ce0b9319a925e8232e2f).
We successfully updated the configuration with this same rule tree using direct PAPI calls.

[2021-02-03 13:44] andersquist commented on #206
Any updates on this issue? Having the same problem.

[2021-02-04 16:11] lkowalsk-akamai-com commented on #194
This issue should be resolved in v1.2.1 release, which is available now.

[2021-02-04 16:11] lkowalsk-akamai-com commented on #196
This issue should be resolved in v1.2.1 release, which is available now.

[2021-02-04 16:11] lkowalsk-akamai-com commented on #198
This issue should be resolved in v1.2.1 release, which is available now.

[2021-02-04 20:24] carnei-ro opened #211 "[PAPI] Not considering provider.config when "terraform destroy""
### Affected Resource(s)
- akamai_property
- (maybe others)

### Expected Behavior
At terraform destroy, the provider should considering the configuration of "provider.config"

e.g:
[code]

It is not considering, the "host" is empty

Error: removing property: request failed: Delete https:///papi/v1/properties/prp_REDACTED?contractId=ctr_G-REDACTED&groupId=grp_REDACTED: http: no Host in request URL

[2021-02-04 21:16] clstokes commented on #209
Hi Akamai team, this is blocking Pulumi from upgrading (https://github.com/pulumi/pulumi-akamai/issues/32) to better support some customers of yours. Can we get this addressed?

[2021-02-18 15:05] #135 closed, assigned to nobody

[2021-02-18 15:05] edglynes commented on #135
Config not valid. No further activity. Closing.

[2021-02-19 14:16] lkowalsk-akamai-com commented on #173
Hi @EmmanuelMaduwuba, can you please confirm that the issue is fixed with the latest version of Akamai Terraform Provider?

[2021-02-20 20:22] EmmanuelMaduwuba commented on #173
Hi, I can confirm it works as expected now

[2021-02-20 20:22] #173 closed, assigned to nobody

[2021-02-22 15:55] edglynes commented on #142
Known behavior. Documented in the DNS Getting Started Guide. Manual correction is required: 1) remove remaining instances from tfstate file, 2) update config, 3) recreate instances.

[2021-02-25 15:55] ericdebeij opened #215 "README.md needs to be updated as it refers to 0.12 and the current release is 1.2.1"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2021-03-16 13:17] carnei-ro commented on #208
just tested the provider version 1.3.1 and it still not working.

- create a property
- create an activation passing the `akamai_property.my-property.latest_version` to the activation parameter `version`

Run terraform apply
All works. Property created and activated.

Edit something about the property, run `terraform apply` again. We expect:
- changes at the property
- new activation

The actual b

[2021-03-16 13:21] #198 closed, assigned to zstlaw

[2021-03-16 16:35] carnei-ro commented on #211
re-tested with 1.3.1 and it is working

[2021-03-16 16:36] #211 closed, assigned to nobody

[2021-03-16 16:36] #196 closed, assigned to zstlaw

[2021-03-23 10:10] #207 closed, assigned to atuljain16

[2021-03-25 08:54] lkowalsk-akamai-com commented on #215
Hi Eric, 0.12 refers to required Terraform version. This is not version of the Akamai Terraform provider. Hope that clears out the confusion.

[2021-03-25 08:54] #215 closed, assigned to nobody

[2021-03-25 09:06] lkowalsk-akamai-com commented on #194
Hi @TristanBaoui , we believe that issue is fixed already. Please confirm and close the issue.

[2021-03-25 09:07] lkowalsk-akamai-com commented on #184
Hi @sagardeo2105, is there any additional help needed? If not, please close the issue.

[2021-03-25 09:09] lkowalsk-akamai-com commented on #183
Hi @joel-g, is there any additional help needed? If not, please close the issue.

[2021-03-25 09:10] lkowalsk-akamai-com commented on #166
Hi @roymartinezblanco, can you please check if you are experiencing this issue with latest release? If not, please close the ticket.

[2021-03-25 09:14] lkowalsk-akamai-com commented on #189
Hi @dekimsey, we believe that issue is fixed with latest version of Akamai Terraform Provider. Please check and close the issue if it works for you.

[2021-03-25 09:18] #142 closed, assigned to nobody

[2021-03-25 09:36] #55 closed, assigned to nobody

[2021-03-25 12:24] #155 closed, assigned to nobody

[2021-03-25 12:35] edglynes commented on #186
Creating and populating a primary zone from the Terraform client requires a specific sequence of steps be taken. SOA and NS records will be created automatically when a primary zone is created. Additionally, the zone must be in the configuration. if already exists, it should be imported. See https://registry.terraform.io/providers/akamai/akamai/latest/docs/guides/get_started_dns_zone

[2021-03-25 12:51] edglynes commented on #192
Issue reproduced.

[2021-03-25 13:51] TristanBaoui commented on #194
@lkowalsk-akamai-com Hi !
It's all good (tested in 1.4) thanks !

[2021-03-25 13:51] #194 closed, assigned to zstlaw

[2021-03-26 07:22] lkowalsk-akamai-com commented on #101
Hi @bpennypacker, this functionality is now available.

[2021-03-26 07:25] lkowalsk-akamai-com commented on #186
Hi @csahli, please let us know if that resolves your issue. If yes, please close the ticket.

[2021-03-26 07:25] #186 closed, assigned to nobody

[2021-03-26 07:27] lkowalsk-akamai-com commented on #209
Hi, we acknowledge this issue and we will plan to fixe it when we will be adding additional features for IAM subprovider. For now, there is not timeline I can share with you.

[2021-03-26 10:02] henrytk opened #219 "Property activation version incorrectly updated in state file when there are errors in the GetRuleTree response"
When creating _and_ updating property activations there is a check of the rule tree. If this errors the state file does not get updated: https://github.com/akamai/terraform-provider-akamai/blob/release/v1.3.0/pkg/providers/property/resource_akamai_property_activation.go#L536-L537 - this is correct behaviour.

However, if the call to get the rule tree doesn't error, but the _response_ contains erro

[2021-03-26 10:47] lkowalsk-akamai-com commented on #22
Hi @MarkDordoy, this functionality is now available. Please close the ticket.

[2021-03-26 11:17] #22 closed, assigned to nobody

[2021-03-26 13:07] #101 closed, assigned to nobody

[2021-03-26 18:28] ericrichtert commented on #208
I have the same issue

[2021-03-26 18:30] carnei-ro commented on #208
@ericrichtert I'm using my own provider until fix. Try if you want:
[code]

The downsize is: the property version will be marked always as computed.... but, for me, it is ok.

[2021-03-26 18:39] ericrichtert commented on #208
I created a case at akamai and send an email to the development team

[2021-03-27 10:32] ericrichtert opened #220 "Error: rpc error: code = ResourceExhausted desc = grpc: received message larger than max (4861596 vs. 4194304)"
After upgrading from version 0.9.1 to 1.4.0, we get this error:

Error: rpc error: code = ResourceExhausted desc = grpc: received message larger than max (4861596 vs. 4194304)

λ terraform version
Terraform v0.14.7
+ provider registry.terraform.io/akamai/akamai v1.4.0
+ provider registry.terraform.io/hashicorp/local v2.1.0

Issue is caused by a long list of warnings in the property.

Akamai issue:

[2021-03-28 07:27] siwyd commented on #208
I can confirm the same behavior in the one Terraform repo that I upgraded > 1.0. All repo's that still use < 1.0 don't exhibit this behavior.

[2021-03-28 15:09] stack72 commented on #209
Thanks for the update here @lkowalsk-akamai-com

would you be open to a pull request if I sent it? I am happy to do that if it would help get it updated faster

[2021-03-29 19:49] edglynes commented on #192
Property  Static TTL  deprecated  with the introduction of StaticRRSets. static_ttl should not be in the Terraform  zone configuration and will be ignored. A warning will be generated if present in the next provider update.

[2021-03-30 10:54] lkowalsk-akamai-com commented on #208
Hi, the issue should be fixed now in latest release (1.5.0). Please verify and close the ticket.

[2021-03-30 13:09] siwyd opened #222 "Error when upgrading from 1.3.1 to 1.5.0: Error: missing expected ["
I'm upgrading to 1.5.0, which means migrating to the new hostnames format. When doing so, I get errors unfortunately.

### Terraform Version
0.14.9

### Affected Resource(s)
akamai_property

### Expected Behavior
There should be no changes.

### Actual Behavior
Terraform errors:

[code]

This matches the fact that there are 4 properties in the state that I'm migrating. There are properties with a

[2021-03-30 13:22] ericrichtert commented on #222
I can confirm this issue. Even the TF_LOG=TRACE doesn't show any issue.
λ terraform version
Terraform v0.14.7
+ provider registry.terraform.io/akamai/akamai v1.5.0
+ provider registry.terraform.io/hashicorp/local v2.1.0

[2021-03-30 13:30] ericrichtert commented on #208
I can't test due to https://github.com/akamai/terraform-provider-akamai/issues/222

[2021-03-30 14:30] lkowalsk-akamai-com commented on #222
That is expected error from Terraform if the state becomes invalid due to breaking change in syntax. This is in documentation and changelog to fix the config and state after version upgrade.
https://registry.terraform.io/providers/akamai/akamai/latest/docs/resources/property

Below are steps that could be used to fix this:
1.	Upgrade to latest(1.5.0) and update tf config with new block type syntax

[2021-03-30 17:20] carnei-ro commented on #208
It seems to be working... I have created a silly bash script (depends on `jq`) to workaround the changes at property hostnames;

I only have one `akamai_property` per state file and my certificates are `CPS_MANAGED`.

[code]

[2021-03-30 18:26] ericrichtert commented on #222
I really don't understand why every new version of this provider has a new syntax or new issues. The latest stable is 0.9.1. As I'm waiting for a solution on #222, I can't continue with this one.

Changing the TF code every time and waiting for bugfixes really takes to mucht time.

[2021-03-30 20:21] siwyd commented on #222
Aha, I did miss that because the info on the state was at the top of the akamai_property docs and not with the hostnames argument. I've made a small PR to perhaps improve on that a bit to avoid other people running into that: https://github.com/akamai/terraform-provider-akamai/pull/223.

I've reimported the props and the Terraform plan is working now, thanks for the help.

[2021-03-31 07:48] #208 closed, assigned to nobody

[2021-03-31 09:31] ericrichtert opened #224 "Import of property does not set the product_id"
For the migration to 1.5.0, I removed the property from state and did an import.

After the import, the state file has  _"product_id": null_ in the property.

The next terraform apply shows an error:
 Error: property attribute "product_id" cannot be changed after creation (immutable)

λ terraform version
Terraform v0.14.7
+ provider registry.terraform.io/akamai/akamai v1.5.0
+ provider registry.te

[2021-03-31 10:34] anandg1984 commented on #224
I get the same error after upgrading to 1.5.0, after removing the property from state and import.

Error: property attribute "product_id" cannot be changed after creation (immutable)

[2021-03-31 11:09] ericrichtert commented on #222
So the correct migration is now:

1. Have a applied environment based on 1.4.0
2. Upgrade the akamai provider to 1.5.0
3. Change the hostnames TF code in your properties
4. Remove the properties from the terraform state
5. Import the properties in the terraform state
6. Pull the terraform state, add the correct value of product_id to the state file
7. Push the changed state file to your backend. I

[2021-03-31 11:39] carnei-ro commented on #222
The product_id not being populated on import is an old issue lol.
That’s why I created the script posted at #208 .
I think it is easier fix the hostnames at the state file.

[2021-03-31 11:43] carnei-ro commented on #224
I have this issue prior the provider 1.0.0. It is a really old bug.
I am doing `state pull`, editing the hostname part and the serial, then `state push`. At #208 I posted my really silly script that does the job.

[2021-03-31 13:09] siwyd commented on #222
I managed to fix the error, but every time I do a plan, it wants to perform changes:

[code]

When I do an apply, it 'changes' things, but nothing really happens. There is no activation or anything like that. How do I get idempotence again?

[2021-03-31 17:23] peteneville opened #225 "Unauthorized Access using akamai_appsec_security_policy"
### Versions
Terraform 0.12.26
Tried Akamai provider version 1.4.0 and now moved to 1.5.0

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_appsec_security_policy

If this issue appears to affect multiple resources, it may be an issue with Terraform's core, so please mention this.

### Terraform Configuration Files
[code]

### Expected Behavior
Application securi

[2021-04-01 08:36] lkowalsk-akamai-com commented on #220
Hi @ericrichtert , this looks like an error connected to Terraform limitation of the state file. There is currently similar case opened in Terraform queue - https://github.com/hashicorp/terraform-provider-local/issues/28
Our advise is to limit the size of the terraform state file.

[2021-04-01 10:02] ericrichtert commented on #220
@lkowalsk-akamai-com I can only reduce the size of the terraform state, if the akamai provider does not send 4MB of json data with warnings. These warnings are not in the terraform state with version 0.9.1, they are in version 1.4.0 and 1.5.0. You can find the details of the warnings in case F-CS-4963966.

[2021-04-01 12:53] atuljain16 commented on #225
Plz provide the account details.

[2021-04-01 13:14] peteneville commented on #225
The account is NHS Digital. If you need the contract id etc, please can you provide an email address, rather than post that here?

Thanks

[2021-04-01 13:29] peteneville commented on #225
Same error for when I use akamai_appsec_configuration_version_clone or akamai_appsec_security_policy_clone.
However, it looks like akamai_appsec_security_policy_clone was partially successful as I now have a new policy that I can see in the web console. The state file shows this as tainted though.

[2021-04-01 14:53] peteneville commented on #225
Also tried akamai_appsec_match_target. This has allowed me to add match targets to the policy that I have cloned. i.e. the tainted policy that I have now removed from state, but still exists and I can use on subsequent terraform.
If only we can get past these authZ errors..
Also, I could do with some examples of json for akamai_appsec_rule_condition_exception as this is what I'd like to start usin

[2021-04-07 07:46] lkowalsk-akamai-com commented on #206
Hi, @andersquist @ojesvi - could you please try again with latest version?

[2021-04-09 07:15] lkowalsk-akamai-com commented on #225
We believe the issue was lack of enrolled in the BETA program, which should now be resolved. @peteneville please confirm if all is good now and close the case.

[2021-04-09 09:33] lkowalsk-akamai-com commented on #209
@stack72 Thanks for wanting to contribute. We are open for a PR, but keep in mind that the change need to be in line with other Akamai subproviders design. We will review this PR in our cycle and let you know our feedback.

[2021-04-09 12:11] peteneville commented on #225
Thanks. I still get the error "Error: Title: Unauthorized Access/Action; Type: https://problems.luna.akamaiapis.net/appsec/error-types/UNAUTHORIZED; Detail: You do not have the necessary access to perform this operation." when using the resource akamai_appsec_configuration_version_clone on a configuration version that was created by another user.
Using new configurations that I create work though.

[2021-04-09 12:16] lkowalsk-akamai-com commented on #225
Since this looks like a authorization issue that will not require a coding change I will close the ticket. Please continue directly with Akamai Support. Hope you will have it resolved quickly!

[2021-04-09 12:16] #225 closed, assigned to nobody

[2021-04-14 14:08] siwyd opened #226 "Deployment idempotency"
Deployment idempotency is missing since upgrading from pre 1.0 to 1.5:

[code]

When I do an apply, it 'changes' things, but nothing really happens. There is no activation or anything like that. How do I get idempotence again on my properties?

[2021-04-15 22:32] codezninja opened #227 "[Feature] - Add SiteShield to Akamai Terraform Provider"
It would be helpful if we could pull SiteShield ip address lists through a datasource. Is this something we can add to the provider?

[2021-04-16 09:44] siwyd commented on #227
And I don't want to hijack your ticket, but also for staging SiteShield IP's. When we automated this in our company to automatically update AWS security groups, it required speaking to two completely different Akamai API's to accomplish this for both production and staging.

[2021-04-20 20:38] partamonov opened #228 "Drift in state for appsec resources"
### Terraform Version

[code]

### Affected Resource(s)

- akamai_appsec_advanced_settings_logging
- akamai_appsec_custom_rule

### Terraform Configuration Files

[code]

### Expected Behavior

After apply there should not be any changes in the next run

### Actual Behavior

Every run I see that resource will be updated in place

[code]

In case of `akamai_appsec_advanced_settings_logging` some wh

[2021-04-21 11:58] lkowalsk-akamai-com commented on #224
Hi, we believe this issue is fixed now. Please test and close the case.

[2021-04-21 11:58] lkowalsk-akamai-com commented on #219
Hi, we believe this issue is fixed now. Please test and close the case.

[2021-04-21 12:00] lkowalsk-akamai-com commented on #192
Hi, with new release there is a proper warning added for this case. Please close this case if you do not need any further assistance.

[2021-04-21 13:38] atuljain16 commented on #228
@partamonov This has been addressed in the current release 1.5.1, that went live today.

[2021-04-21 15:04] partamonov commented on #228
Confirm both cases are fixed in 1.5.1

[2021-04-21 15:04] #228 closed, assigned to nobody

[2021-04-21 18:52] javiergarza commented on #184
@sagardeo2105 you can use the Property Manager CLI to print the list of products available for your contract to ensure you use the right product_id in the .tf file.

For example this is what I see on my account (you need to use the right contractID for your account):
akamai pm --format json list-products --contractId ctr_P-31YPZJ9
[
    {
        "productName": "Download_Delivery",
        "produc

[2021-04-22 12:44] carnei-ro opened #230 "[1.5.1] Property Hostnames List Flipping (cname_from)"
My property has a list of hostnames, at every "terraform plan" the list order of hostnames flips generating a new version of the property.

### Terraform Version
0.14

### Affected Resource(s)
- property

[code]

[2021-04-22 12:59] ericrichtert commented on #220
This issue is not solved with 1.51. I'll send the TRACE logs via F-CS-4963966

[2021-04-22 13:02] ericrichtert commented on #230
This construction seems to work:
locals {
  edgehostnames = merge(
    { "T" = {
      (var.hostname) = var.edge_hostname
    } },
    { "A" = {
      (var.hostname) = var.edge_hostname
    } },
    { "P" = {
      (var.hostname) = var.edge_hostname
      "xxxx.nl"                 = var.edge_hostname
      "yyy.nl"                = var.edge_hostname
      "www.xxxx.nl"            = var.edge_hostna

[2021-04-22 13:03] ericrichtert commented on #224
This is solved

[2021-04-22 13:03] #224 closed, assigned to nobody

[2021-04-22 20:11] partamonov opened #231 "appsec resources causing rate limit burst block"
I am not sure how to address that, but I have moved 2/3 of one security configuration to terraform code.

I have 1 configuration with 1 policy, several custom rules, several rate limits and all waf rules actions and 15 war rules exception conditions.

After running `terraform apply`, I was blocked by rate limits
[code]

Do you have any idea to which value we should limit terraform.

As I  tried to

[2021-04-23 07:55] umglurf commented on #226
We have the same issue, we have solved it with a workaround by setting in the akamai_property
[code]
but this should not be needed.

[2021-04-26 13:29] partamonov opened #232 "akamai_appsec_custom_rule_action cannot survive version update"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version

[code]

### Affected Resource(s)

- akamai_appsec_custom_rule_action

### Terraform Configuration Files

[code]

ID or resource looks like `id=1

[2021-04-27 07:38] elfinston opened #233 "[1.5.1] 'akamai_appsec_configuration' resource does not work as expected"
Hi Team,

I faced an issue that could have not created a new security configuration using Terraform provider(v1.5.1) with 'akamai_appsec_configuration' resource.

The error message is a little bit strange because it said "create KDD config from open(API?) is not allowed", not KSD.
Also, the error code probably '403(FORBIDDEN)'.
I am not sure why 403 returned because I tried the test on an account

[2021-04-28 09:46] tiej-dr opened #234 "Issue with terraform state for specific json elements"
I'm using "akamai_property" resource, and specifying the property rules in json files, as follows:

[code]

The json is downloaded via control panel (or using the akamai api), and some elements has an empty list as value, e.g:
[code]

It's seems like these elements is translated into `options = {}` in Terraform state, and results in false positive diffs next time terraform plan is run.

### Terraf

[2021-04-28 12:02] IanCassTwo commented on #104
This looks like a documentation issue. The datasource you're looking for does exist.

https://github.com/akamai/terraform-provider-akamai/blob/master/pkg/providers/property/data_akamai_property.go

[2021-04-30 07:26] siwyd commented on #226
Would be nice to get an update on this. I'm not planning on upgrading anything to > 1.0 while this is still an issue so I can't help detect other issues while stuck on < 1.0.

[2021-05-12 10:38] lkowalsk-akamai-com commented on #222
Hi @siwyd, Is there anything more we can help under this issue? I believe you were able to overcome the breaking changes and this is working now and the issue about idempotency is traced separately. Can we close this issue?

[2021-05-12 10:42] #183 closed, assigned to nobody

[2021-05-12 10:42] #189 closed, assigned to nobody

[2021-05-12 10:44] #192 closed, assigned to nobody

[2021-05-12 14:27] atuljain16 commented on #231
Can you send the TF config?

[2021-05-12 15:31] partamonov commented on #231
Sure, quite easy. I made all actions to none.

[code]

[2021-05-14 00:17] atuljain16 commented on #233
Akamai Japan has KSD & KDD in one contract, this combination of products in a contract is not supported. Plz remove the KDD eng prod and try again.

[2021-05-14 00:18] atuljain16 commented on #231
Plz try setting parallelism flag set to 1 to over come the rate limit issue.

[2021-05-14 00:20] atuljain16 commented on #232
With the upcoming release in Mid June, This will be addressed. For time being, explicit clone of config version is needed after the activation or if there is no editable version.

[2021-05-14 07:13] partamonov commented on #231
I have 3 now and it works, but would be nice if later that can be solved, as it is now quite a long run.

[2021-05-17 12:58] siwyd commented on #222
@lkowalsk-akamai-com Yes, for the other problem I've created another issue: https://github.com/akamai/terraform-provider-akamai/issues/226

[2021-05-17 12:58] #222 closed, assigned to nobody

[2021-05-18 12:21] lkowalsk-akamai-com commented on #233
Hi @elfinston, if this issue is resolved, please close this ticket.

[2021-05-18 13:05] tiej-dr commented on #226
An upvote for this issue. The suggested lifecyle/ignore_changes workaround from @umglurf works fine, however it means that if there is a valid property change, the version diff is not detected by "akamai_property_activation" resource (setting version = latest_version). So does not work well if you want to activate every time property has been updated (in one single apply). Now our workaround is to

[2021-05-19 12:18] spol-vt opened #235 "Datasource for SiteShield cidr map"
Hi there!

It would be great to have a `datasource` to fetch `SiteShield` cidr map.
Typical use case would be to read the map and use as value for AWS security group and similar terraform resources.

This is CLI example (using _firewall_ module) to fetching such map:
`akamai ss list-cidrs --map-id <ID>`

[2021-05-24 21:17] jdgomeza opened #236 "add support for darwin_arm64"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
The whole provider is affected. It cannot be used in a MacBook with Apple Silicon

### Panic Output
Just running the `terraform init` command on a MacBook m1

[code]

### Expected Behavior
Provider installed

### Actual Behavior
Blocked. Error message. Unable to perform a plan or apply

### Steps to Reproduce
On the darwin_arm64 pla

[2021-05-25 09:57] siwyd opened #238 "DataStream 2 support"
As the title says :)

[2021-05-26 13:09] siwyd opened #239 "Provisioning errors with datastream 2 behavior settings"
When this kind of behavior is used in the rules, the activation fails.

[code]

Activation error:

[code]

Weirdly, I can activate the property version that was created by Terraform just fine in the GUI. There are no rule errors mentioned there whatsoever. The problem seems to be with the logStreamName option. If I don't use the Datastream 2 settings in the behavior, it works fine.

[2021-05-27 11:53] siwyd commented on #226
It's a bit of a pity the provider is seeing little progress towards fixing bugs. To be honest, this project is not in an 1.0 state as far as I'm concerned. Things break very regularly, it's impossible to be a user of this provider without being willing to spend a lot of time debugging things.

[2021-06-08 04:52] yonga00 commented on #63
Hi.

You said CPS was on the roadmap.

May I know when this will be possible?

It would be better if only the DV-SAN-SNI certificate was applied first.

[2021-06-08 06:23] robertolopezlopez commented on #63
Hi @yonga00 ,

Some members of our team are working on CPS support, which will be published soon. Stay tuned.

Kind regards

[2021-06-09 07:48] yonga00 commented on #63
Thank you for replay.

I am very much looking forward to it.

If only CPS is supported, it seems that our work can be applied more freely and quickly.

Please.

[2021-06-15 08:02] RemcoAA opened #240 "documentation mismatch for test_object and incorrectly required in tcp liveness test"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Terraform v0.13.6

### Affected Resource(s)
akamai_gtm_property

If this issue appears to affect multiple resources, it may be an issue with Terr

[2021-06-28 08:53] chipgata opened #242 "DNS Zone import always null value for contract and group"
Hi there,

I have using akamai terraform with import function, but seen there have something wrong when import DNS Zone. Please help to check and give me some feedback if there have something need to fix and improve. Thanks team!

### Terraform Version
0.15.4

### Akmai provider Version
1.5.1

### Affected Resource(s)
- Import DNS Zone

### Terraform Configuration Files
[code]

### Expected Behavi

[2021-06-29 10:25] lkowalsk-akamai-com commented on #104
Hi, this datasource has been added to the documentation:
https://registry.terraform.io/providers/akamai/akamai/latest/docs/data-sources/property

[2021-06-29 10:25] #104 closed, assigned to nobody

[2021-06-30 08:46] ericdebeij opened #243 "Network list does not support group identification"
Resource "akamai_networklist_network_list" does not support Access Control Group.

This is a feature request to support group identification as this currently requires manual creation of the Network list via the UI and import it into tf.

Suggested syntax similar to DNS:
resource "akamai_networklist_network_list" "network_list" {
  name = "hdebeij"
  type = "IP"
  description = "Erics network list

[2021-06-30 11:34] lkowalsk-akamai-com commented on #232
Hi @partamonov, this should be fixed now with v1.6.0. Please let us know if the fix works for you and close the ticket.

[2021-06-30 11:35] #166 closed, assigned to nobody

[2021-06-30 11:36] #219 closed, assigned to nobody

[2021-07-01 08:42] robertolopezlopez commented on #226
Hi @siwyd ,

This defect is fixed already in our internal repository, we will release the solution this month.

[2021-07-06 10:33] lkowalsk-akamai-com commented on #63
Hi @yonga00
CPS subprovider was added to the provider. You can check the resources here:
https://registry.terraform.io/providers/akamai/akamai/latest/docs/resources/cps_dv_enrollment
It covers currently DV certificated and SAN modifications.

[2021-07-06 10:37] #184 closed, assigned to nobody

[2021-07-06 11:40] yonga00 commented on #63
Hi.

I checked what you shared.

I will test it and share it with the development team.

Thank you.

[2021-07-06 13:33] edglynes commented on #242
@chipgata pls provide the configurations for the data resources referenced and the associated tfstate sections. there should be depends_on references in the zone resource to the data resources as well. also, enable debug and provide the terraform log related to this case.

Is the state file snippet provided captured immediately after the import? If you do an apply right after the import does it sh

[2021-07-09 10:06] mgwoj commented on #239
Dear @siwyd,

Please verify if you still have this issue after changing `"logStreamName": ${ds2_id},` into ` "logStreamName": "${ds2_id}",`? What is the value of `ds2_id` property?
If problem persists, please provide a copy of your `*.tf` and `rules.json`. This should help us diagnose the problem.

Thanks,
Michal

[2021-07-09 11:36] siwyd commented on #239
@mgwoj Sorry, I forgot to update this issue. I opened an Akamai support case where we were debugging this and all of a sudden this was not reproducible anymore as if the Akamai backend suddenly decided to accept the input. The case ID was F-CS-5118838 .

[2021-07-09 11:36] #239 closed, assigned to nobody

[2021-07-09 11:59] lkowalsk-akamai-com commented on #231
Hi @partamonov
There was documentation update on this issue and no current plans to work on this further.

[2021-07-09 11:59] #231 closed, assigned to nobody

[2021-07-11 19:54] sdenel opened #245 "Plan step is not checking enough that apply will run successfully"
Hi there,

### Expected Behavior
terraform plan should ensure, as much as technically possible, that apply will perform successfully. Meaning that when plan is ok, apply should be ok. This is clearly not the case today.

### Actual Behavior
plan step is not helping enough. Thus, when using terraform enterprise, one has to merge his feature branch to master to troubleshoot. A few examples of things

[2021-07-21 10:08] piotrpio commented on #245
Hello @sdenel

Thanks for submitting the issue. I have a couple of questions and comments.
First. of all, I agree with the part about static validations, that is absolutely something that can be improved and we will work on applying your suggestions for the next release. Validating edgerc credentials format can be added, as well as checking whether either `product` or `product_id` is specified dur

[2021-07-21 12:02] carnei-ro opened #247 "Cloud Access Manager - Support"
Support managing CAM resources via Terraform would be awesome!

[2021-07-21 12:49] edglynes commented on #242
Final note. Contract and Group are not needed for resource operations after import. Only Contract is available for resource on import.  Changes: Made group optional. Populate contract on import. Always a recommended practice to run an apply following import.

[2021-07-23 21:18] sdenel commented on #245
Hello @piotrpio,
Thank you for your reply.

property name: I got the message "A name must only contain letters, numbers, and these characters: . _ -"

Best regards,
Simon

[2021-08-04 22:15] pimperator opened #249 "Feture-request: akamai_property ressource missing attribute for domain validation"
Hi there,

This is more a feature-request than a bug but this comes unexpected since I cannot access the list of `_achme-challenge` entries to `.validate-akdv.net.` in order to hand over those to-be created cname-entries to a bunch of `akamai_dns_record`s.

### Terraform Version
1.0.3

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_property

### Terraform Confi

[2021-08-12 07:37] chipgata commented on #242
hi @edglynes thanks for your hard working, but it seen not consistence after import contract ID
[code]

Please help to recheck. Thanks

[2021-08-12 12:14] #240 closed, assigned to nobody

[2021-08-12 12:15] #232 closed, assigned to nobody

[2021-08-12 12:15] #226 closed, assigned to nobody

[2021-08-12 12:16] lkowalsk-akamai-com commented on #226
Hi @siwyd
This issue should be fixed now as the fix was released in v1.6.1

[2021-08-12 12:25] lkowalsk-akamai-com commented on #230
Hi @carnei-ro
This should be fixed with v1.6.1 release

[2021-08-12 12:25] #230 closed, assigned to nobody

[2021-08-12 12:37] edglynes commented on #242
hi @chipgata
Pls clarify your use case:
1) are you using cli-terraform to generate the Terraform config.
2) are you seeing this change on a domain update?
3) do you have the contract defined as 'contract = "ctr_3-xxxxxx"' in your domain config?

thx.

[2021-08-12 12:40] lkowalsk-akamai-com commented on #238
Hi @siwyd
DataStream 2 is one of our immediate priorities. This support for it should be added in Q4 this year.

[2021-08-12 12:42] lkowalsk-akamai-com commented on #234
Hi @tiej-dr
This issue should be fixed in v1.6.1

[2021-08-12 12:42] #234 closed, assigned to nobody

[2021-08-12 12:43] #63 closed, assigned to nobody

[2021-08-12 12:44] #206 closed, assigned to nobody

[2021-08-12 13:56] siwyd commented on #226
@lkowalsk-akamai-com Indeed it is, cheers!

[2021-08-13 02:11] chipgata commented on #242
hi @edglynes I did not hard cord the Contract ID
My Contract ID got from this terraform code
[code]

And on your provider document, also mention this `id - The contract's unique ID, including the ctr_ prefix.`
https://registry.terraform.io/providers/akamai/akamai/latest/docs/data-sources/contract

[2021-08-13 15:31] edglynes commented on #242
Thx. This will be a future Akamai Terraform Provider change.  I'll file an internal issue to track.

[2021-08-17 12:11] tiej-dr commented on #234
Can confirm this i solved in 1.6.1. Cheers!

[2021-08-19 11:20] lkowalsk-akamai-com commented on #245
Hi @sdenel
Additional checks and validations has been added to the plan. You can check it out by updating to the v1.7.0.

[2021-08-19 11:23] lkowalsk-akamai-com commented on #242
Hi @chipgata
Additional code changes were introduced in v1.7.0 release to address this issue. Please check.

[2021-08-23 16:18] davestreng-ally opened #252 "Failed to Install Provider - SHA256 checksum failed"
Unable to initialize Terraform due to a SHA256 checksum error.

### Terraform Version
Tested with Terraform v0.14.2 & v0.13.7

### Affected Resource(s)
Please list the resources as a list, for example:
- provider initialization (v1.7.0)

### Terraform Configuration Files
[code]

### Expected Behavior
Terraform initialized the provider successfully

### Actual Behavior
Terraform indicated the SHA25

[2021-08-24 05:50] lkowalsk-akamai-com commented on #252
Hi @davestreng-ally
What platform/OS you are running this on? A lot of people are using one of the latests versions of our provider and we have never seen this error.

[2021-08-24 13:19] davestreng-ally commented on #252
I'm on mac (10.15 - catalina) - we intend on using this in a CI/CD pipeline, so i can also test using a generic linux box, but we use macs for local development

[2021-08-24 13:28] lkowalsk-akamai-com commented on #252
Can you please create fresh directory with just the terraform cofinguration file that you've sent, runn terraform init and paste here the whole console log output?

[2021-08-24 13:35] davestreng-ally commented on #252
Done!
[code]

[2021-08-24 15:27] davestreng-ally commented on #252
So I just checked on a separate machine and the provider is loading properly with the same config...

My work machine is running behind a proxy, so it must be blocking some part of the download - we do however use a variety of other partner providers in TF and have never seen this error?

Any suggestions on what I could start looking for?

I know the checksums are verified after the binary is down

[2021-08-24 16:18] robertolopezlopez commented on #252
@davestreng-ally : that might be the case. SHA-256 hashes are correct, you can easily check by yourself downloading the desired zipped binaries + shasum file from our release page https://github.com/akamai/terraform-provider-akamai/releases/tag/v1.7.0
![image](https://user-images.githubusercontent.com/1519467/130650621-2f4a4e71-877f-4846-a8cb-3f75e6e94056.png)

If the above check is correct, I wou

[2021-08-25 08:42] chipgata commented on #242
confirmed, it fixed, thank team!

[2021-08-25 08:42] #242 closed, assigned to nobody

[2021-08-25 14:35] #245 closed, assigned to nobody

[2021-08-26 20:19] davestreng-ally commented on #252
Gotcha - yep our proxy is doing something screwy to our downloads from GH here...

I was able to take the same binary downloads off of our proxy and hoist them up into our own internal provider registry and once I got them up there, everything works just fine...

Appreciate the suggestions on the SHA hash checks - i'll keep them in mind if i run into this in the future!

[2021-08-26 20:19] #252 closed, assigned to nobody

[2021-09-09 08:48] lkowalsk-akamai-com commented on #243
Hi @ericdebeij, we are currently working on this enhancement. I cannot share any exact dates, but it should be a part of one of next releases. I will update this ticket once released.

[2021-09-10 19:13] charims opened #253 "cps_dv_enrollment dns_challenges should not be empty on initial apply"
Hi there,

Thank you for opening an issue. Please note that we try to keep the Terraform issue tracker reserved for bug reports and feature requests. For general usage questions, please see: https://www.terraform.io/community.html.

### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have alread

[2021-09-11 08:09] bharathshetty4 commented on #236
Updating the go to 1.16 should fix this issue.

[2021-09-11 10:24] robertolopezlopez commented on #236
Hi,

Thanks for your answer. Your answer is not really accurate, a simple go SDK upgrade will not fix the real issue. Instead, it will be fixed when we will start releasing darwin_arm64 binaries, but unfortunately we still do not support this architecture.

https://github.com/akamai/terraform-provider-akamai/releases/tag/v1.7.0

Kind regards,

Roberto

On Sep 11, 2021 10:09, Bharath Kumar ***@***.

[2021-09-14 14:58] partamonov opened #254 "akamai_property_activation tries to update activation note on active version"
Hi there,

### Terraform Version
[code]

### Affected Resource(s)
Please list the resources as a list, for example:
- akamai_property_activation

### Terraform Configuration Files
[code]

### Debug Output
[code]

### Expected Behavior
Note value should be not updated, if version is already activated, but due to some reason note value is changed

### Actual Behavior
It tries to change note for acti

[2021-09-29 03:23] elfinston opened #255 "wrong example codes for 'contracts' and 'groups'"
https://registry.terraform.io/providers/akamai/akamai/latest/docs/data-sources/contracts
https://registry.terraform.io/providers/akamai/akamai/latest/docs/data-sources/groups

two document URLs still show 'datasource' instead of 'data' invoking data sources.
I tried 'data' instead of 'datasource' in code, it worked propertly.

[2021-09-30 09:23] robertolopezlopez commented on #255
Hi @elfinston ,

Thank you for pointing that out. We have addressed those two documentation defects in our internal repository and this change will be released soon.

Kind regards,

Roberto

[2021-09-30 14:46] robertolopezlopez commented on #255
Hi @elfinston,

It turned out that "soon" meant today :-). The documents have been updated as suggested.

Regards,

Roberto

[2021-09-30 14:46] #255 closed, assigned to nobody

[2021-10-01 13:34] robertolopezlopez commented on #220
Hi @ericrichtert ,

Thank you for reporting this - we have finally addressed it with [yesterday release](https://github.com/akamai/terraform-provider-akamai/releases/tag/v1.7.1). It should be fixed now, thus I will close the issue. If you continue experiencing this problem, please do not hesitate to reopen it.

[2021-10-01 13:34] #220 closed, assigned to nobody

[2021-10-04 08:34] mkorcz opened #257 "Feature-request: akamai_property_rules_template - support for array type variables"
Hi there,

I found a need to create a cors policy with a different number of domains allowed. According to the assumptions of our project, each client has its own infrastructure based on one source of code. And here I have a problem where I need to paste a variable containing the list of domains. Creating multiple variables is not a solution as the number of domains will
vary for each deployment.

[2021-10-07 10:11] mcortinas commented on #254
Yesterday I received the same error message. Let me share in my case it was I'm not changing anything in the property activated and the activation resource try to change the comment of a property already activated.  My workaround it was I should add externally  the control to don't apply when the property don't change. I'm not sure if this is your exactly scenario. But it was usefull if the provid

[2021-10-12 11:57] henrytk opened #258 "akamai_edge_hostname forces replacement without changes"
### The problem

When I run Terraform plan it says all of the configuration details of my edge hostname are incorrect and the resource needs replacing.

[code]

Nothing had changed. The state file still contains `my-correct-host.example.com.edgekey.net` and the correct group and contract ID.

The problem starts on [line 349 of the function to read details of the edge hostname](https://github.com/a

[2021-10-14 08:55] lkowalsk-akamai-com commented on #249
Hi, Thank you for rising your enhancement suggestion, but there are gaps in API that block providing such functionality and currently there are not plans to add it

[2021-10-14 08:55] #249 closed, assigned to nobody

[2021-10-15 19:30] kyrylyuk-andriy commented on #258
hello, i have similar issue, i have imported edge hostname into the state file, Import was successful but after that i run plan and it tires to replace resource, in my case its `ip_behavior` argument. I tried to set all available options but no one doesn't work.

Terraform v0.13.7
+ provider registry.terraform.io/akamai/akamai v1.7.1

[2021-10-18 10:44] donaldpiret commented on #258
+1 facing the exact same issue as well. Did not move properties between groups.

[2021-10-22 09:16] luiof opened #259 "datacenter_id of the assignment is optional from the doc but required from the provider"
### Terraform Version
Run `terraform -v` to show the version. If you are not running the latest version of Terraform, please upgrade because your issue may have already been fixed.

[code]

### Affected Resource(s)

akamai_gtm_geomap

### Terraform Configuration Files

Variable exported for the terraform script:
`export TF_VAR_gtm_domain_address="<my GTM address>"`

[code]

### Expected Behavior

[2021-10-25 19:34] lkowalsk-akamai-com commented on #238
Hi @siwyd
we released today new version of Akamai Terraform Provider which includes support for DataStream (Version 2). More details can be found in the [Release notes v1.8.0](https://github.com/akamai/terraform-provider-akamai/releases/tag/v1.8.0)